// ABSTRACTS
// ================================================
@import "../../../abstracts/abstracts.scss";
@import "../../../vendors/bourbon/bourbon";
// ================================================

// ft-check
// ===============================================
.ft-check
{
  $self: &;
  @include position(relative, null null null null);
  @include margin(null null 1rem null);

  // &__label
  &__label
  {
    @include padding(null null null 3rem);
    color: var(--color-black);
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 1rem;

    // &:before
    &:before
    {
      content: '';
      @include position(absolute, 0 null null 0);
      @include size(2rem);
      @include border-style(solid);
      @include border-width(0.2rem);
      @include border-top-radius(.4rem);
      @include border-bottom-radius(.4rem);
      transition: border-color 250ms ease;
      background-color: var(--color-white);
    }

    // &:after
    &:after
    {
      content: '';
      @include position(absolute, 0 0 null 0);
      @include size(2rem);
      opacity: 0;
      transition: all 250ms ease;
      @include background-setup(map-icons(alerts, brand--tick), // img path
        '0 0 / contain', // position and size
        no-repeat, // repeat
        null, // attachment
        null, // origin
        null, // clip
        transparent, // color
      );
      filter: invert(100%);

      // behavior: parent(ft-helper-bgColor-black)
      @include behavior-parent(ft-helper-bgColor-black)
      {
        filter: invert(0);
      }
    }

    // &:not(:disabled)
    &:not(:disabled)
    {

      // &:hover
      &:hover
      {

        // &:before
        &:before
        {
          box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.25);
        }

      }

    }

  }

  // &__input
  &__input
  {
    @include position(absolute, null null null null);
    opacity: 0;
    pointer-events: none;

    // &:checked
    &:checked
    {

      // + #{ $self }
      +#{ $self }
      {

        // &__label
        &__label
        {

          // &:before
          &:before
          {
            border-width: .2rem;
            border-color: var(--color-primary);
            background-color: var(--color-primary);

           // @if $brand ==sport
            @if $brand ==sport
            {
              border-color: var(--color-black);
              background-color: var(--color-black);
            }

            // behavior: parent(ft-helper-bgColor-black)
            @include behavior-parent(ft-helper-bgColor-black)
            {
              border-color: var(--color-white);
              background-color: var(--color-white);
            }
          }

          // &:after
          &:after
          {
            opacity: 1;
            transform: scale(.7);
          }

        }

      }

    }

    // &:disabled
    &:disabled
    {

      // + #{ $self }
      +#{ $self }
      {

        // &__label
        &__label
        {

          // &:before
          &:before
          {
            border-color: var(--color-mediumGrey);
            background-color: var(--color-lightGrey);
            filter: invert(0);
          }

        }

      }

      // &:hover
      &:hover
      {

        // + #{ $self }
        +#{ $self }
        {

          // &__label
          &__label
          {
            cursor: not-allowed;

            // &:before
            &:before
            {
              box-shadow: none;
            }

          }

        }

      }

    }

    // &:focus-visible
    &:focus-visible
    {

      // + #{ $self }
      +#{ $self }
      {

        // &__label
        &__label
        {

          // &:before
          &:before
          {
            box-shadow: none;
          }

        }

      }

    }

  }

}

// ===============================================