<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        42DS | Templates: Noticia
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- CSS: settings -->
    <link href="../../cds-statics/css/brands/ux/setting.css" id="brandStyles-root" rel="stylesheet" type="text/css" />
    <!-- CSS: library multibrand -->
    <link href="../../cds-statics/css/ux-index.css" id="brandStyles" rel="stylesheet" type="text/css" />
    <!-- CSS: header -->
    <link href="../../cds-statics/css/brands/ep/organism/header-multibrand.css" rel="stylesheet" type="text/css" />
    <!-- CSS: footer -->
    <link href="../../cds-statics/css/legacy/footer.css" rel="stylesheet" />
    <!-- FAVICON -->
    <link href="../favicon.png" rel="icon" type="image/png" />
</head>

<body class="fourty ft-brand-ux ft-skin ft-skin--showroom"
    data-showroom-skin="layout">
        <!-- LAYOUT -->
    <!-- cabecera 
        Aqui va el organismo header
    Fin Cabecera -->
    <!-- Breadcrumb -->
            <div class="ft-org-breadcrumb">
                <nav class="ft-mol-breadcrumb ft-mol-breadcrumb-has--lvl">
                    <ul class="ft-mol-breadcrumb__list">
                        <li class="ft-mol-breadcrumb__item">
                            <a href="#" class="ft-mol-breadcrumb__link" title="title text" target="_self">
                                <span class="ft-mol-breadcrumb__lvl">
                                    Nivel 1
                                </span>
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb__item">
                            <a href="#" class="ft-mol-breadcrumb__link" title="title text" target="_self">
                                <span class="ft-mol-breadcrumb__lvl">
                                    Nivel 2
                                </span>
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb__item ft-mol-breadcrumb__itemIs-not-link">
                            <span class="ft-mol-breadcrumb__lvl">
                                Nivel 3
                            </span>
                        </li>
                    </ul>
                    <ul class="ft-mol-breadcrumb-links-support">
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 1
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 2
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 3
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 4
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 5
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 6
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
    <!-- Fin Breadcrumb -->
    <!-- LAYOUT -->
  <div class="ft-layout-grid-flex">
   <!-- Comienzo del layout -->
   <article class="ft-layout-grid-flex__row">
    <!-- Sky left -->
    <aside class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsLeft">
     <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-left.jpg"/>
    </aside>
    <!-- final Sky left -->
    <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-8 ft-layout-grid-flex__col-addsContent" style="min-height:1000px;">
      <!-- Megabanner Sticky-->
      <aside class="ft-ad ft-ad--mega ft-ad--megaNotext ft-helper-hide-xs">
       <div class="ft-ad--sticky">
        <img alt="" class="ft-helper-img-rd" src="../../cds-statics/assets/img/banners/ad-megabanner.jpg"/>
       </div>
      </aside>
      <!-- fin Megabanner -->
      <div class="ft-layout-grid-flex__nested">
        <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__rowAddsGutter-0">
            <!-- CONTENIDO LAYOT -->
        </div>
    </div>
    </div>
    <!-- Sky Right -->
    <aside class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsRight">
     <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-right.jpg"/>
    </aside>
    <!-- Fin ky Right -->
            <!-- Inicio del tapbar -->
             <nav class="ft-mol-tapbar" role="navigation" aria-label="Menú de navegación principal" aria-orientation="horizontal" aria-controls="mainContent" aria-expanded="true" aria-live="polite" aria-relevant="additions removals" tabindex="0" data-component="tapbar" data-version="1.1" data-tracking="main-navigation" data-seo="main-navigation" data-category="navigation" data-section="main-menu" itemscope="" itemtype="https://schema.org/SiteNavigationElement">

                                                <!-- Container -->
                                                <div class="ft-mol-tapbar__container" role="menubar">

                                                    <!-- Canvas -->
                                                    

                                                    <!-- Item: 01 -->
                                                    <a href="layout-epe-portada-manual.html" class="ft-mol-tapbar__item" role="menuitem" aria-current="page" aria-label="Ir a Portada" data-tracking="tapbar-leer" tabindex="0">
                                                        <span class="ft-mol-tapbar__icon-wrapper" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ft-mol-tapbar__icon" aria-labelledby="title-tapbar-icon-leer"><title id="title-tapbar-icon-leer">Lectura</title><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" /><path d="M14 2v4a2 2 0 0 0 2 2h4" /><path d="M10 9H8" /><path d="M16 13H8" /><path d="M16 17H8" /></svg></span>
                                                        <span class="ft-mol-tapbar__text">Leer</span>
                                                    </a>

                                                    <!-- Item: 02 -->
                                                    <a href="layout-epe-mapa-cronicas.html" class="ft-mol-tapbar__item" role="menuitem" aria-label="Ir a ubicación" data-tracking="tapbar-ubicacion" tabindex="0">
                                                        <span class="ft-mol-tapbar__icon-wrapper" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ft-mol-tapbar__icon" aria-labelledby="title-tapbar-icon-ubicacion"><title id="title-tapbar-icon-ubicacion">Ubicación</title><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" /><circle cx="12" cy="10" r="3" /></svg></span>
                                                        <span class="ft-mol-tapbar__text">Cerca</span>
                                                    </a>

                                                    <!-- Item: 03 -->
                                                    <a href="#" class="ft-mol-tapbar__item" role="menuitem" aria-label="Ir a Pasatiempos" data-tracking="tapbar-pasatiempos" tabindex="0">
                                                        <span class="ft-mol-tapbar__icon-wrapper" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ft-mol-tapbar__icon" aria-labelledby="title-tapbar-icon-jugar"><title id="title-tapbar-icon-jugar">Dado</title><rect width="18" height="18" x="3" y="3" rx="2" ry="2" /><path d="M16 8h.01" /><path d="M8 8h.01" /><path d="M8 16h.01" /><path d="M16 16h.01" /><path d="M12 12h.01" /></svg></span>
                                                        <span class="ft-mol-tapbar__text">Jugar</span>
                                                    </a>
                                                </div>
                                            </nav>
            <!-- Fin del tapbar -->
   </article>
   <!-- Fin del layout -->
   <div class="ft-ad ft-ad--footer" style="bottom: 0px;">
    <div class="ft-ad--footer__content">
     <div class="ft-ad--footer__embed">
      <aside class="ft-helper-hide-md">
       <img alt="" class="ft-helper-img-rd" height="87" src="../../cds-statics/assets/img/banners/ad-footer--mobile.svg" width="728"/>
      </aside>
      <aside class="ft-helper-hide-mo">
       <img alt="" class="ft-helper-img-rd" height="87" src="../../cds-statics/assets/img/banners/ad-footer.png" width="728"/>
      </aside>
     </div>
     <button class="ft-btn-nav ft-btn-nav--close ft-popover-close-trigger" name="close-button" title="title text" type="button">
      <span class="ft-btn-nav__text">
       Cerrar
      </span>
      <span class="ft-btn-nav__icon">
      </span>
     </button>
    </div>
   </div>
   <!-- Pie -->
   <footer id="footer-media">
    <div class="footer-mediaTop">
     <a data-edition-homelink="data-edition-homelink" href="/es/" title="El Periódico">
      <img alt="El Periódico de España" data-was-processed="true" height="45" loading="lazy" src="../../cds-statics/assets/img/logos/logoEpeColor.svg" width="189"/>
     </a>
     <div class="rrss">
      <a class="btn" href="https://www.facebook.com/elperiodico.catalunya" rel="nofollow" target="_blank" title="">
       <span class="icon icon-Facebook">
       </span>
      </a>
      <a class="btn" href="https://twitter.com/elperiodico" rel="nofollow" target="_blank" title="">
       <span class="icon icon-Twitter">
       </span>
      </a>
      <a class="btn" href="https://www.instagram.com/elperiodico_cas/" rel="nofollow" target="_blank" title="">
       <span class="icon icon-Instagram">
       </span>
      </a>
     </div>
     <ul class="lnk">
      <li>
       <a href="https://www.elperiodico.com/es/quienessomos.shtml" rel="nofollow" title="Quiénes somos">
        Quiénes somos
       </a>
      </li>
      <li>
       <a href="https://www.elperiodico.com/es/contacto.shtml" rel="nofollow" title="Contacto">
        Contacto
       </a>
      </li>
      <li>
       <a href="https://www.elperiodico.com/es/rss/portada_rss.shtml" rel="nofollow" title="RSS">
        RSS
       </a>
      </li>
      <li>
       <a href="https://www.elperiodico.com/es/mapa-sitio.shtml" rel="nofollow" title="Mapa del sitio">
        Mapa del sitio
       </a>
      </li>
      <li>
       <a href="https://www.prensaiberica360.es/?_sid=1686819132" rel="nofollow" title="Publicidad">
        Publicidad
       </a>
      </li>
      <li>
       <a href="https://www.elperiodico.com/es/avisolegal.shtml" rel="nofollow" title="Aviso legal">
        Aviso legal
       </a>
      </li>
      <li>
       <a href="https://www.prensaiberica.es/politica-de-privacidad-resumida/?_sid=1686819132" rel="nofollow" title="Política de privacidad y cookies">
        Política de privacidad y cookies
       </a>
      </li>
      <li>
       <a href="javascript: Didomi.preferences.show();" rel="nofollow" title="Preferencias de Privacidad">
        Preferencias de Privacidad
       </a>
      </li>
     </ul>
    </div>
    <div class="footer-mediaMiddle">
     <p>
      Unidad de Medios Escritos SAU
     </p>
     <a href="https://www.prensaiberica360.es/?_sid=1686721372" target="_blank" title="Prensa Ib&amp;eacute;rica">
      <img alt="Prensa Ib&amp;eacute;rica" height="73" loading="lazy" src="https://estaticos-cdn.lne.es/images/footer/prensa-iberica-360.png?id=00bc9e3946af531b5a7b" title="Prensa Ib&amp;eacute;rica" width="114"/>
     </a>
    </div>
    <div class="footer-mediaBottom">
     <p>
      Otras webs de Prensa Ibérica Media:
     </p>
     <ul>
      <li>
       <a href="https://www.casagourmet.es/?_sid=1686912790&amp;_ga=2.84922457.1554376161.1686912790-1773303950.1684312163" rel="nofollow" target="_blank" title="Casa Gourmet">
        Casa Gourmet
       </a>
      </li>
      <li>
       <a href="https://ocasion.neomotor.com/" rel="nofollow" target="_blank" title="Coche Ocasión">
        Coche Ocasión
       </a>
      </li>
      <li>
       <a href="https://www.codigonuevo.com/?_sid=1686912790" rel="nofollow" target="_blank" title="Código Nuevo">
        Código Nuevo
       </a>
      </li>
      <li>
       <a href="https://www.elperiodico.com/cuore/?_sid=1686737966" rel="nofollow" target="_blank" title="Cuore">
        Cuore
       </a>
      </li>
      <li>
       <a href="https://www.diariocordoba.com/?_sid=1686737966" rel="nofollow" target="_blank" title="Diario de Córdoba">
        Diario de Córdoba
       </a>
      </li>
      <li>
       <a href="https://www.diaridegirona.cat/?_sid=1686737966" rel="nofollow" target="_blank" title="Diari de Girona">
        Diari de Girona
       </a>
      </li>
      <li>
       <a href="https://www.diariodeibiza.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Diario de Ibiza">
        Diario de Ibiza
       </a>
      </li>
      <li>
       <a href="https://www.diariodemallorca.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Diario de Mallorca">
        Diario de Mallorca
       </a>
      </li>
      <li>
       <a href="https://www.elcorreogallego.es/?_sid=1686737966" rel="nofollow" target="_blank" title="El Correo Gallego">
        El Correo Gallego
       </a>
      </li>
      <li>
       <a href="https://www.eldia.es/?_sid=1686737966" rel="nofollow" target="_blank" title="El Día Tenerife">
        El Día Tenerife
       </a>
      </li>
      <li>
       <a href="https://www.elperiodicodearagon.com/?_sid=1686737966" rel="nofollow" target="_blank" title="El Periódico de Aragón">
        El Periódico de Aragón
       </a>
      </li>
      <li>
       <a href="https://www.elperiodico.com/es/?_sid=1686737966" rel="nofollow" target="_blank" title="El Periódico de Catalunya">
        El Periódico de Catalunya
       </a>
      </li>
      <li>
       <a href="https://www.epe.es/es/?_sid=1686737966" rel="nofollow" target="_blank" title="El Periódico de España">
        El Periódico de España
       </a>
      </li>
      <li>
       <a href="http://www.elperiodicoextremadura.com/?_sid=1686737966" rel="nofollow" target="_blank" title="El Periódico de Extremadura">
        El Periódico de Extremadura
       </a>
      </li>
      <li>
       <a href="https://www.elperiodicomediterraneo.com/?_sid=1686737966" rel="nofollow" target="_blank" title="El Periódico Mediterráneo">
        El Periódico Mediterráneo
       </a>
      </li>
      <li>
       <a href="https://www.farodevigo.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Faro de Vigo">
        Faro de Vigo
       </a>
      </li>
      <li>
       <a href="https://formula1.lne.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Fórmula 1">
        Fórmula 1
       </a>
      </li>
      <li>
       <a href="https://www.premios-cine.com/goya/" rel="nofollow" target="_blank" title="Goya">
        Goya
       </a>
      </li>
      <li>
       <a href="https://www.iberempleos.es/" rel="nofollow" target="_blank" title="Iberempleos">
        Iberempleos
       </a>
      </li>
      <li>
       <a href="https://www.iberpisos.es/" rel="nofollow" target="_blank" title="Iberpisos Iberanuncios">
        Iberpisos Iberanuncios
       </a>
      </li>
      <li>
       <a href="https://www.diarioinformacion.com/" rel="nofollow" target="_blank" title="Información">
        Información
       </a>
      </li>
      <li>
       <a href="http://www.informaciontv.es/" rel="nofollow" target="_blank" title="Información TV">
        Información TV
       </a>
      </li>
      <li>
       <a href="https://www.lacronicabadajoz.com/" rel="nofollow" target="_blank" title="La Crónica de Badajoz">
        La Crónica de Badajoz
       </a>
      </li>
      <li>
       <a href="https://www.lne.es/asturias/?_sid=1686737966" rel="nofollow" target="_blank" title="La Nueva España Asturias">
        La Nueva EspañaAsturias
       </a>
      </li>
      <li>
       <a href="https://www.laopinioncoruna.es/?_sid=1686737966" rel="nofollow" target="_blank" title="La Opinión de A Coruña">
        La Opiniónde A Coruña
       </a>
      </li>
      <li>
       <a href="https://www.laopiniondemurcia.es/?_sid=1686737966" rel="nofollow" target="_blank" title="La Opinión de Murcia">
        La Opiniónde Murcia
       </a>
      </li>
      <li>
       <a href="https://www.laopiniondemalaga.es/?_sid=1686737966" rel="nofollow" target="_blank" title="La Opinión de Málaga">
        La Opiniónde Málaga
       </a>
      </li>
      <li>
       <a href="https://www.laopiniondezamora.es/?_sid=1686737966" rel="nofollow" target="_blank" title="La Opinión El correo de Zamora">
        La OpiniónEl correo de Zamora
       </a>
      </li>
      <li>
       <a href="https://www.laprovincia.es/?_sid=1686737966" rel="nofollow" target="_blank" title="La Provincia Diario de Las Palmas">
        La Provincia Diario de Las Palmas
       </a>
      </li>
      <li>
       <a href="https://www.levante-emv.com/?_sid=1686737966" rel="nofollow" target="_blank" title="Levante El Mercantil Valenciano">
        LevanteEl Mercantil Valenciano
       </a>
      </li>
      <li>
       <a href="http://www.informaciontv.es/" rel="nofollow" target="_blank" title="Levante TV">
        Levante TV
       </a>
      </li>
      <li>
       <a href="https://www.emporda.info/?_sid=1686737966" rel="nofollow" target="_blank" title="L'Empordà Figueres">
        L'Empordà Figueres
       </a>
      </li>
      <li>
       <a href="https://www.laloterianavidad.com/" rel="nofollow" target="_blank" title="Lotería">
        Lotería
       </a>
      </li>
      <li>
       <a href="https://www.mallorcazeitung.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Mallorca Zeitung Mallorca">
        Mallorca Zeitung Mallorca
       </a>
      </li>
      <li>
       <a href="https://neomotor.epe.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Neomotor">
        Neomotor
       </a>
      </li>
      <li>
       <a href="https://www.premios-cine.com/oscars/" rel="nofollow" target="_blank" title="Oscars">
        Oscars
       </a>
      </li>
      <li>
       <a href="https://www.regio7.cat/?_sid=1686737966" rel="nofollow" target="_blank" title="Regió 7 Manresa">
        Regió Manresa
       </a>
      </li>
      <li>
       <a href="https://www.sport.es/" rel="nofollow" target="_blank" title="Sport">
        Sport
       </a>
      </li>
      <li>
       <a href="https://www.stilo.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Stilo">
        Stilo
       </a>
      </li>
      <li>
       <a href="https://www.superdeporte.es/?_sid=1686737966" rel="nofollow" target="_blank" title="Superdeporte Valencia">
        Superdeporte Valencia
       </a>
      </li>
      <li>
       <a href="https://www.sport.es/es/tendencias21/" rel="nofollow" target="_blank" title="Tendencias 21">
        Tendencias 21
       </a>
      </li>
      <li>
       <a href="https://www.tucasa.com/" rel="nofollow" target="_blank" title="Tu casa">
        Tu casa
       </a>
      </li>
      <li>
       <a href="https://www.sport.es/es/medio-ambiente/" rel="nofollow" target="_blank" title="Medio Ambiente">
        Medio Ambiente
       </a>
      </li>
      <li>
       <a href="https://viajar.elperiodico.com/?_sid=1686737966" rel="nofollow" target="_blank" title="Viajar">
        Viajar
       </a>
      </li>
      <li>
       <a href="https://www.woman.es/" rel="nofollow" target="_blank" title="Woman Madame Figaro">
        Woman Madame Figaro
       </a>
      </li>
     </ul>
    </div>
   </footer>
  </div>

  <script src="../../cds-statics/js/tapbar/fourty-js-tapbar.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/vendors/jquery-3.6.0.min.js">
  </script>
  <script rel="modulepreload" src="../../cds-statics/js/dropdown/fortty-js-dropdown-simple.js">
  </script>
  <script rel="modulepreload" src="../../cds-statics/js/affix/affix.js">
  </script>
  <script rel="modulepreload" src="../../cds-statics/js/tab/fourty-js-tabs.js">
  </script>
  <script rel="modulepreload" src="../../cds-statics/js/headers/header-epe.js">
  </script>
  <script rel="modulepreload" src="../../cds-statics/js/sticking/fourty-header-sticky.js">
  </script>
  <script rel="modulepreload" src="../../cds-statics/js/sticking/fourty-ads_skys-sticky.js">
      </script>
</body>

</html>
