<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>42DS | Templates: Widget Apertura</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS: settings -->
    <link id="brandStyles-root" rel="stylesheet" href="../../cds-statics/css/brands/ux/setting.css" type="text/css">
    <!-- CSS: library multibrand -->
    <link id="brandStyles" rel="stylesheet" href="../../cds-statics/css/ux-index.css" type="text/css">
    <!-- CSS: Widget Apertura -->
    <link id="brandStyles" rel="stylesheet" href="../../cds-statics/css/legacy/estilos-widget-apertura.css" type="text/css">

    <!-- FAVICON -->
    <link rel="icon" href="../favicon.png" type="image/png">
</head>

<body class="fourty ft-brand-ux ft-skin ft-skin--showroom"
    data-showroom-skin="layout">
    <div class="ft-layout-grid-flex">
                    <!-- Sky left -->
        <aside class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsLeft"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-left.jpg">
            </div>
        </aside>
        <!-- final Sky left -->
        <!-- Sky Right -->
        <aside class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsRight"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-right.jpg">
            </div>
        </aside>
        <!-- Fin Sky Right -->
        <!-- Comienzo del layout -->
        <article class="ft-layout-grid-flex__row">

            <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-8 ft-layout-grid-flex__col-addsContent">
                <!-- Megabanner Sticky-->
                <aside class="ft-ad ft-ad--mega ft-ad--megaNotext ft-helper-hide-xs">
                    <div class="ft-ad--sticky">
                        <img src="../../cds-statics/assets/img/banners/ad-990x250.gif" alt="megabanner" class="ft-helper-img-rd">
                    </div>
                </aside>
                <!-- fin Megabanner -->
                <!-- Contenido -->
                <div class="ft-layout-grid-flex__nested">
                    <div class="col-xs-12 col-md-6 col-lg-4 frontpage-opening--side-news">
                        <article class="info-ticker sport-ticker">
                            <div class="info-ticker__competition">Primera División - LaLiga EA Sports</div>
                            <h2 itemprop="name" class="h5">
                                            <a target="_top" href="https://www.lne.es/deportes/futbol/primera-division/2024-2025/alaves-mallorca-232024_01_12_2024173_2024181.html" class="info-ticker__headline">
                                                <span class="info-ticker__flag info-ticker__blink">En directo</span>
                                                </a><!-- /.info-ticker__headline -->
                            </h2><!-- /.h5 -->
                            <div class="sport-ticker--scoreboard">
                                                <a target="_top" class="sport-ticker--scoreboard--time" href="https://www.lne.es/deportes/futbol/primera-division/2024-2025/alaves-mallorca-232024_01_12_2024173_2024181.html">95'</a>
                                            <a href="#" class="sport-ticker--scoreboard--period"> Finalizado </a>
                                <div class="sport-ticker--scoreboard--team">
                                    <a target="_top" class="sport-ticker--scoreboard--team-name" href="https://www.lne.es/deportes/futbol/primera-division/alaves/">Alavés</a>
                                    <a target="_top" class="sport-ticker--scoreboard--team-icon" href="https://www.lne.es/deportes/futbol/primera-division/alaves/"><img src="https://www.lne.es/deportes/ed/img/equipos/173/escudo_med.jpeg" alt=" "></a>
                                                        <a target="_top" class="sport-ticker--scoreboard--team-score" href="https://www.lne.es/deportes/futbol/primera-division/2024-2025/alaves-mallorca-232024_01_12_2024173_2024181.html">
                                            1                                            </a>
                                                </div>
                                <div class="sport-ticker--scoreboard--team">
                                    <a target="_top" class="sport-ticker--scoreboard--team-name" href="https://www.lne.es/deportes/futbol/primera-division/mallorca/">Mallorca</a>
                                    <a target="_top" class="sport-ticker--scoreboard--team-icon" href="https://www.lne.es/deportes/futbol/primera-division/mallorca/"><img src="https://www.lne.es/deportes/ed/img/equipos/181/escudo_med.jpg" alt=""></a>
                                                        <a target="_top" class="sport-ticker--scoreboard--team-score" href="https://www.lne.es/deportes/futbol/primera-division/2024-2025/alaves-mallorca-232024_01_12_2024173_2024181.html">
                                            0                                            </a>
                                                </div>
                            </div>
                                                <ul class="info-ticker--event-list">
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time"></div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">Con esto damos por concluido el partido de hoy. Esperamos haberles servido de compañía en estos momentos difíciles, hasta la próxima.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time"></div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">Victoria por la mínima para un Alavés que la necesitaba con afán, después de una mala racha que llegó a amenazarles. Guridi ha sido decisivo al cazar un rechace. El Mallorca se ha mostrado más incómodo que su rival, especialmente en la segunda parte dominada por los locales.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">90'+6''</div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">FINAL DEL PARTIDO. Alavés, 1 - Mallorca, 0.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">90'+5''</div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">¡Última ocasión para el Mallorca, reclamaban falta dentro del área pero el árbitro habla con el VAR y no hubo nada punible! No hubo mano de Guevara.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">90'+3''</div>
                                                                                    <div class="sports-ticker--event--picto"><i class="sports-icon yellow-card"></i></div>
                                                        
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">Amarilla para Copete por una falta previa, el árbitro había concedido ley de la ventaja.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">90'+3''</div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">¡CASI MARCA EL ALAVÉS! ¡Le llega un balón rebotado a Carlos Martínez y en el mano a mano Leo Román ha salvado al Mallorca!</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">90'+2''</div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">Además, aplausos para Kike García en su regreso y le suple Toni Martínez.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">90'+1''</div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">Doble cambio del Alavés: se marcha Abde Rebbach, entra Carlos Martín.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">88''</div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">El Alavés está aguantando la presión con mucha entereza.</p>
                                            </div>
                                        </li>
                                                        <li class="info-ticker--event">
                                            <div class="info-ticker--event__info">
                                                <div class="info-ticker--event__info__time">84''</div>
                                                
                                            </div>
                                            <div class="narrative-news__content">
                                                <p class="article-body__text ">Nuevo centro peligroso del Mallorca, esta vez de Morlanes para Abdon, aunque con menos peligro porque Leo logró detenerlo en dos tiempos.</p>
                                            </div>
                                        </li>
                                    
                                    <li class="info-ticker--event">
                                        <a href="https://www.lne.es/deportes/futbol/primera-division/2024-2025/alaves-mallorca-232024_01_12_2024173_2024181.html" target="_top" class="btn-view-more">Ver más</a>
                                    </li>
                                </ul>
                        </article>
                    </div>
                </div>
                <!-- Fin Contenido -->
            </div>

        </article>
        <!-- Fin del layout -->
    </div>
        <script rel="modulepreload" src="../../cds-statics/js/layout/fourty-js-layout.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/switch/fourty-js-switch-2024.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/sidenav/fourty-js-sidenav-default.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/sticking/fourty-header-sticky.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/sticking/fourty-ads_skys-sticky.js"></script>

</body>

</html>