<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>42DS | Templates: Porra UCL - Inicio</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="format-detection" content="telephone=no">
  <!-- CSS: library multibrand -->
  <link href="../../cds-statics/css/ux-index.css" id="brandStyles" rel="stylesheet" type="text/css" />
  <!-- CSS: settings -->
  <link href="../../cds-statics/css/brands/ux/setting.css" id="brandStyles-root" rel="stylesheet" type="text/css" />
  <link href="../../cds-statics/css/brands/ux/core.css" id="brandStyles-root" rel="stylesheet" type="text/css" />
  <link href="../../cds-statics/css/brands/commons/setting-pasatiempos.css" id="brandStyles-root" rel="stylesheet"
    type="text/css" />
  <!-- FAVICON -->
  <link href="../favicon.png" rel="icon" type="image/png" />
</head>

<body class="fourty ft-brand-ux pasatiempos minimal-header"
  data-showroom-skin="layout">

  <!-- LAYOUT -->
  <article class="ft-layout-grid-flex">

    <!-- ORG: game -->
    <div class="ft-org-game">
      <!-- juego -->
      <div class="ft-org-game__mundial ft-org-game__mundial--ucl">
        <div class="ft-layout-grid-flex__row ft-layout-grid-flex__rowIs-fullwidth">

          <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__col-addsContent--L">
            <!-- tablero -->
            <div class="ft-org-game__mundial__board" id="porraBoard" role="group" aria-label="Porra del UCL">

              <div class="ft-layout-grid-flex__row">

                <div class="ft-layout-grid-flex__colXs-12">

                  <header class="ft-org-game__mundial__header">
                    <div class="ft-org-game__mundial__main">
                      <button type="button" class="ft-btn-nav ft-btn-nav--back ft-btn-nav--bordered" title="Back"><span class="ft-btn-nav__text">Back</span><span class="ft-btn-nav__icon"></span></button>
                      <span class="ft-helper-fontSize-heading-XS">Champions League</span>
                      <button type="button" class="ft-btn-nav ft-btn-nav--user ft-btn-nav--bordered" title="User"><span class="ft-btn-nav__text">User</span><span class="ft-btn-nav__icon"></span></button>
                    </div>
                    <!-- mol: toolbar: slider -->
                    <section class="ft-mol-tabs">
                      <div class="ft-mol-tabs__list" role="tablist" aria-label="Secciones del contenido" aria-orientation="horizontal">
                        <button class="ft-mol-tabs__tab" type="button" role="tab" aria-selected="true">Inicio</button>
                        <button class="ft-mol-tabs__tab" type="button" role="tab">Pronósticos</button>
                        <button class="ft-mol-tabs__tab" type="button" role="tab">Ranking</button>
                        <button class="ft-mol-tabs__tab" type="button" role="tab">Peñas</button>
                        <button class="ft-mol-tabs__tab" type="button" role="tab">Premios</button>
                        <button class="ft-mol-tabs__tab" type="button" role="tab">Ayuda</button>
                      </div>
                      <span class="ft-mol-tabs__bar"></span>
                    </section>
                    <!-- end // toolbar: slider -->
                  
                  </header>

                  <div class="ft-org-game__mundial__content">
                  </div>

                  <footer class="ft-org-game__mundial__footer">
                    <figure class="ft-img">
                      <picture>
                        <source media="(min-width: 768px)" srcset="../../cds-statics/assets/img/decorative/ucl-stars.svg">
                        <source media="(min-width: 250px)" srcset="../../cds-statics/assets/img/decorative/ucl-stars.svg,
                              ../../cds-statics/assets/img/decorative/ucl-stars.svg 2x">
                        <img src="../../cds-statics/assets/img/decorative/ucl-stars.svg" width="656" height="381" loading="lazy" alt="alt text" title="title text">
                      </picture>
                    </figure>
                  </footer>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </article>

  <!-- JS: masthead -->
  <script rel="modulepreload" src="../../cds-statics/js/affix/affix.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/headers/masthead.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/sticking/fourty-header-sticky.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/switch/fourty-js-switch-2024.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/form/fourty-js-form-combo-search.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/sidenav/fourty-js-sidenav-default.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-popover.js"></script>
  <script src="../../cds-statics/js/tapbar/fourty-js-tapbar.js"></script>
  <script src="/cds-statics/js/timer/fourty-js-timer.js" defer></script>

  <!-- JS:  dropdown -->
  <script rel="modulepreload" src="../../cds-statics/js/dropdown/fortty-js-dropdown-simple.js"></script>

  <!-- JS:  modal -->
  <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-modal.js"></script>

  <!-- JS:  tabs -->
  <script rel="modulepreload" src="../../cds-statics/js/tabs/fourty-js-tabs.js"></script>

  <!-- JS:  smoothscrollbar -->
  <script rel="modulepreload" src="../../cds-statics/js/scroll/smooth-scrollbar/smooth-scrollbar.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/scroll/smooth-scrollbar/smooth-scrollbar-functions.js"></script>

  <!-- JS: lottie-->
  <script rel="modulepreload" src="../../cds-statics/js/lottie/fourty-js-lottie.js" type="module"></script>

  <!-- JS: game__input -->
  <script rel="modulepreload" src="../../cds-statics/js/game/game-input-pipe.js"></script>

</body>

</html>
