<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        42DS | Templates: RRSS List
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- CSS: settings -->
    <link href="../../cds-statics/css/brands/ux/setting.css" id="brandStyles-root" rel="stylesheet" type="text/css" />
    <!-- CSS: library multibrand -->
    <link href="../../cds-statics/css/ux-index.css" id="brandStyles" rel="stylesheet" type="text/css" />
    <!-- CSS: header -->
    <link href="../../cds-statics/css/brands/ep/organism/header-multibrand.css" rel="stylesheet" type="text/css" />
    <!-- FAVICON -->
    <link href="../favicon.png" rel="icon" type="image/png" />
</head>

<body class="fourty ft-brand-ux ft-skin ft-skin--showroom"
    data-showroom-skin="layout">
    <!-- LAYOUT -->
    <div class="ft-layout-grid-flex">
        <!-- Breadcrumb -->
                   <div class="ft-org-breadcrumb">
                <nav class="ft-mol-breadcrumb ft-mol-breadcrumb-has--lvl">
                    <ul class="ft-mol-breadcrumb__list">
                        <li class="ft-mol-breadcrumb__item">
                            <a href="#" class="ft-mol-breadcrumb__link" title="title text" target="_self">
                                <span class="ft-mol-breadcrumb__lvl">
                                    Nivel 1
                                </span>
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb__item">
                            <a href="#" class="ft-mol-breadcrumb__link" title="title text" target="_self">
                                <span class="ft-mol-breadcrumb__lvl">
                                    Nivel 2
                                </span>
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb__item ft-mol-breadcrumb__itemIs-not-link">
                            <span class="ft-mol-breadcrumb__lvl">
                                Nivel 3
                            </span>
                        </li>
                    </ul>
                    <ul class="ft-mol-breadcrumb-links-support">
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 1
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 2
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 3
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 4
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 5
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 6
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        <!-- Fin Breadcrumb -->
                    <!-- Sky left -->
        <aside class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsLeft"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-left.jpg">
            </div>
        </aside>
        <!-- final Sky left -->
        <!-- Sky Right -->
        <aside class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsRight"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-right.jpg">
            </div>
        </aside>
        <!-- Fin Sky Right -->
        <!-- Comienzo del layout -->
        <article class="ft-layout-grid-flex__row">
            <!--Contenido central -->
            <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-8 ft-layout-grid-flex__col-addsContent">
                <!-- Megabanner -->
                <aside class="ft-ad ft-ad--mega ft-helper-hide-xs">
                    <img src="../../cds-statics/assets/img/banners/ad-megabanner.jpg" alt="megabanner" class="ft-helper-img-rd">
                </aside>
                <!-- fin Megabanner -->
                <!-- Listado RSS -->
                <div class="ft-layout-grid-flex__nested">
                    <div class="ft-layout-grid-flex__colXs-12">
                        <div class="rss-list ft-helper-spacer-gap-b-xlg">
                            <p class="ft-text"></p>
                            <h1 class="ft-helper-fontSize-heading-M">RSS</h1>
                            <p class="ft-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec nunc non lacus dapibus posuere. Pellentesque sed enim ut augue semper finibus. Curabitur at libero consequat, tristique enim vitae, ultrices augue. Sed vel elit at ligula volutpat cursus eget a ex. Phasellus sit amet dui at elit suscipit venenatis. Sed sed dui lacus.
                            </p>
                            <div class="ft-mol-headband ft-mol-headband--section">
                                <h2 class="ft-mol-headband__title">Terminos y condiciones</h2>
                            </div>
                            <p class="ft-text">
                                In at pellentesque lorem. Praesent eu augue dui. Maecenas id nulla nec nulla lacinia tincidunt. In eu ornare nibh. Aenean odio nisi, pulvinar vitae faucibus sit amet, semper sit amet nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sapien facilisis ex rhoncus lobortis. Etiam sed arcu massa. Aliquam efficitur ipsum id sapien placerat tristique. Sed ante mi, vulputate ut fringilla ut, laoreet quis turpis. Praesent tincidunt mi eget justo egestas, vel eleifend urna iaculis. Mauris enim turpis, lobortis a leo vitae, eleifend imperdiet justo.
                            </p>
                            <div class="ft-mol-headband ft-mol-headband--section">
                                <h2 class="ft-mol-headband__title">Noticias</h2>
                            </div>
                            <h3><a class="ft-helper-fontColor-black" href="https://www.elperiodico.com/es/">elPeriódico.com Página Inicio (ESP)</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>Mundo</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Europa</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Africa</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">America</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Asia</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Oceanía</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>España</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">España</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Educación</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Política</a>
                                    <ul class="ft-list">
                                        <li class="ft-list__item"><a class="ft-list__link" href="#">Resultados</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Cataluña</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>Negocios</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Energía y medio ambiente</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Pequeña empresa</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Economía</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Libro de ofertas</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Medios y publicidad</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Tu dinero</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>Tecnología</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Tecnología</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Tecnología personal</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>Deportes</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Deportes</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Futbol</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Baloncesto</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Balonmano</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Tenis</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Golf</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Atletismo</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Más deporte</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>Ciencia</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Ciencia</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Medio Ambiente</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Espacio y cosmos</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>Salud</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Salud</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Bienestar Blog</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <div class="ft-mol-headband ft-mol-headband--section">
                                <h2 class="ft-mol-headband__title">Cultura y estilo de vida</h2>
                            </div>
                            <h3>Artes</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Arte y diseño</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Libro de reseñas</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Danza</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Películas</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Música</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Televisión</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Teatro</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3>Estilo</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Moda y estilo</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Gastronomía y vinos</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Corazón</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Tendencias Magazine</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Viajes</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <div class="ft-mol-headband ft-mol-headband--section">
                                <h2 class="ft-mol-headband__title">Mercado</h2>
                            </div>
                            <h3><a class="ft-helper-fontColor-black" href="#">Empleo</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Construcción</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Coches</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <div class="ft-mol-headband ft-mol-headband--section">
                                <h2 class="ft-mol-headband__title">Otros</h2>
                            </div>
                            <h3><a class="ft-helper-fontColor-black" href="#">Blogs</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Obituarios</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Más Enviado</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Más Compartido</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Más Visto</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <div class="ft-mol-headband ft-mol-headband--section">
                                <h2 class="ft-mol-headband__title">Opinión</h2>
                            </div>
                            <h3> Columnistas</h3>
                            <ul class="ft-list ft-list--primary ft-list--nested">
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Charles M. Blow</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Jamelle Bouie</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">David Brooks</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Frank Bruni</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Gail Collins</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Ross Douthat</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Maureen Dowd</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Thomas L. Friedman</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Michelle Goldberg</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Ezra Klein</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Nicholas D. Kristof</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Paul Krugman</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Farhad Manjoo</a></li>
                                <li class="ft-list__item"><a class="ft-list__link" href="#">Bret Stephens</a></li>
                            </ul>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                            <h3><a class="ft-helper-fontColor-black" href="#">Dominical</a></h3>
                            <hr class="ft-helper-divider-line ft-helper-divider-line--thin ft-helper-divider-line--mediumGrey">
                        </div>
                    </div>
                </div>
                <!-- fin Listado RSS -->
            </div>
        </article>
        <!--Publi Footer (cuando aplique)
        <div class="ft-ad ft-ad--footer">
            <div class="ft-ad--footer__content">
                <div class="ft-ad--footer__embed">
                    <aside class="ft-helper-hide-md">
                        <img src="../../cds-statics/assets/img/banners/ad-footer--mobile.svg" width="768" height="87" alt="banner" class="ft-helper-img-rd">
                    </aside>
                    <aside class="ft-helper-hide-mo">
                        <img src="../../cds-statics/assets/img/banners/ad-footer.png" width="768" height="87" alt="banner" class="ft-helper-img-rd">
                    </aside>
                </div>
                <button type="button" name="close-button" class="ft-btn-nav ft-btn-nav--close ft-popover-close-trigger" title="title text">
                    <span class="ft-btn-nav__text">
                        Cerrar
                    </span>
                    <span class="ft-btn-nav__icon"></span>
                </button>
            </div>
        </div>
        Fin Publi Footer -->
        <!-- Piano ContactPlan (cuando aplique) -->
        <aside class="ft-ad ft-ad--Marketing" id="contactPlan">
            <iframe id="offer_d36ea432aa8bac195118-0" name="offer_d36ea432aa8bac195118-0" title="offer_d36ea432aa8bac195118-0" scrolling="no" allowtransparency="true" allow="payment" allowfullscreen="true"
                src="https://buy-eu.piano.io/checkout/template/cacheableShow?aid=iZFMrNO1pe&amp;templateId=OTEOU4VIRJG3&amp;templateVariantId=OTVK48L1QQEII&amp;gaClientId=97689103.1692971361&amp;offerId=fakeOfferId&amp;experienceId=EXK2HKLYNAQ6&amp;iframeId=offer_d36ea432aa8bac195118-0&amp;displayMode=inline&amp;pianoIdUrl=https%3A%2F%2Fid-eu.piano.io%2Fid%2F&amp;widget=template&amp;url=https%3A%2F%2Fwww.elperiodico.com"
                frameborder="0" style="overflow: hidden; background-color: transparent; border: 0px; width: 979.016px; height: 270px;"></iframe>
        </aside>
        <!--Fin Piano ContactPlan -->
    </div>
    <script rel="modulepreload" src="../../cds-statics/js/layout/fourty-js-layout.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-popover.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/vendors/jquery-3.6.0.min.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/switch/fourty-js-switch-2024.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/sidenav/fourty-js-sidenav-default.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-modal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/swiper-js/swiper-js.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/tab/fourty-js-tabs.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/poll/fourty-js-pollbox.js"></script>
</body>

</html>