<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>
    42DS | Templates: MultiBox
  </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!-- CSS: settings -->
  <link href="../../cds-statics/css/brands/ux/setting.css" id="brandStyles-root" rel="stylesheet" type="text/css" />
  <!-- CSS: library multibrand -->
  <link href="../../cds-statics/css/ux-index.css" id="brandStyles" rel="stylesheet" type="text/css" />
  <!-- CSS: header -->
  <link href="../../cds-statics/css/brands/ep/organism/header-multibrand.css" rel="stylesheet" type="text/css" />
  <!-- FAVICON -->
  <link href="../favicon.png" rel="icon" type="image/png" />
</head>

<body class="fourty ft-brand-ux ft-skin ft-skin--showroom"
  data-showroom-skin="layout">
  <!-- LAYOUT -->
  <div class="ft-layout-grid-flex">
            <!-- Sky left -->
        <aside
            class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsLeft"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-left.jpg">
            </div>
        </aside>
        <!-- final Sky left -->
        <!-- Sky Right -->
        <aside
            class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsRight"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-right.jpg">
            </div>
        </aside>
        <!-- Fin ky Right -->
    <!-- Comienzo del layout -->
    <article class="ft-layout-grid-flex__row">
      <div
        class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-8 ft-layout-grid-flex__colLg-8 ft-layout-grid-flex__col-addsContent"
        style="min-height:1000px;">
        <div class="ft-layout-grid-flex__nested">
          <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__rowAddsGutter-0">
            <!-- Megabanner -->
            <aside class="ft-ad ft-ad--mega ft-helper-hide-xs">
              <img src="../../cds-statics/assets/img/banners/ad-990x250.gif" alt="megabanner" class="ft-helper-img-rd">
            </aside>

            <!-- fin Megabanner -->

            <!-- Comienzo de molécula gallery -->

            <div class="ft-mol-gallery ft-mol-gallery--vertical">
              <div class="ft-mol-gallery__contents">
                <p class="ft-mol-gallery__contentsPretitle">
                  LALIGA SANTANDER
                </p>

                <h1 class="ft-mol-gallery__contentsTitle">
                  ¿Podría ‘repescar’ alguno el Barça? Los laterales que siguen libres en la recta final del mercado
                </h1>

                <p class="ft-mol-gallery__contentsSubTitle">
                  LUISMA MURIAS / El anfiteatro del barrio de Montecerrao congrega a 20.000 personas que premian con
                  diez ovaciones la gran descarga de color en el novedoso escenario de la noche pirotécnica
                </p>

                <p class="ft-mol-gallery__contentsBoxes">
                  3 Fotos
                </p>

                <div class="ft-date ft-date--center">
                  <time class="ft-date__text" datetime="2011-11-18T14:54:39+00:00">
                    <span class=" ft-helper-fontWeight-800">
                      Sport
                    </span>
                  </time>
                  <time class="ft-date__text" datetime="2011-11-18T14:54:39+00:00">
                    Actualizado: 22/09/2022 17:38
                  </time>
                </div>

                <div class="ft-mol-rrss-inline ft-mol-rrss-inline--center">
                  <div class="ft-mol-rrss-inline__items">
                    <a href="#" class="ft-btn-rrss ft-btn-rrss--twitter" title="Twitter" target=”_blank” rel="nofollow">
                      <span class="ft-mol-rrss ft-mol-rrssTwitter--default ft-btn-rrss__icon"></span>
                      <span class="ft-btn-rrss__text">
                        RRSS Twitter
                      </span>
                    </a>
                    <a href="#" class="ft-btn-rrss ft-btn-rrss--facebook" title="Facebook" target=”_blank”
                      rel="nofollow">
                      <span class="ft-mol-rrss ft-mol-rrssFacebook--default ft-btn-rrss__icon"></span>
                      <span class="ft-btn-rrss__text">
                        RRSS Facebook
                      </span>
                    </a>
                    <a href="#" class="ft-btn-rrss ft-btn-rrss--whatsapp" title="WhatsApp" target=”_blank”
                      rel="nofollow">
                      <span class="ft-mol-rrss ft-mol-rrssWhatsapp--default ft-btn-rrss__icon"></span>
                      <span class="ft-btn-rrss__text">
                        RRSS WhatsApp
                      </span>
                    </a>
                    <a href="#" class="ft-btn-rrss ft-btn-rrss--email" title="Email" target=”_blank” rel="nofollow">
                      <span class="ft-mol-rrss ft-mol-rrssEmail--default ft-btn-rrss__icon"></span>
                      <span class="ft-btn-rrss__text">
                        RRSS Email
                      </span>
                    </a>
                    <a href="#" class="ft-btn-rrss ft-btn-rrss--bookmark" title="title text" target="_self">
                      <span class="ft-mol-rrss ft-mol-rrssBookmark--default ft-btn-rrss__icon"></span>
                      <span class="ft-btn-rrss__text">
                        RRSS Añadir a marcadores
                      </span>
                      <span class="ft-btn-nav__icon"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- fin // molécula gallery -->
            <!-- Megabanner -->
            <aside class="ft-ad ft-ad--mega ft-helper-hide-md">
              <img src="../../cds-statics/assets/img/banners/ad-300x100.gif" alt="megabanner" class="ft-helper-img-rd">
            </aside>
            <!-- fin Megabanner -->
          </div>
          <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colSm-7 ft-layout-grid-flex__colMd-8">
            <!-- Comienzo molécula box photo -->
            <h2 class="ft-helper-fontSize-heading-XXS ft-helper-spacer-y-xs">Lateral izquierdo</h2>
            <figure class="ft-img">
              <picture>
                <source media="(min-width: 768px)"
                  srcset="../../cds-statics/assets/img/banners/ft-mol-box-photo-text-desktop--example.png">
                <source media="(min-width: 250px)" srcset="../../cds-statics/assets/img/banners/ft-mol-box-photo-text-mobile--example.png,
                      ../../cds-statics/assets/img/banners/ft-mol-box-photo-text-mobile--example.png 2x">
                <img src="../../cds-statics/assets/img/banners/ft-mol-box-photo-text-desktop--example.png" width="656"
                  height="381" loading="lazy" class="ft-helper-img-rd" alt="alt text" title="title text">
              </picture>
              <figcaption class="ft-mol-figcaption">
                <p class="ft-mol-figcaption__txt">
                  <span class="ft-helper-fontWeight-800">Serge Aurier</span>,
                  exjugador del Villarreal es el lateral libre más valioso de este mercado, con 10 millones. Juega en la
                  banda derecha.
                  <span class="ft-helper-fontWeight-800">/EFE/AFP</span>
                </p>
                <div class="ft-mol-number-highlighted">
                  <span class="ft-mol-number-highlighted__item">1</span>
                  <span class="ft-mol-number-highlighted__item">2</span>
                </div>
              </figcaption>
              <hr class="ft-layout-grid-flex__colXs-12 ft-helper-spacer-b-xxs">
            </figure>
            <!-- fin // molécula box photo -->
            <!-- Comienzo molécula box photo -->
            <h2 class="ft-helper-fontSize-heading-XXS ft-helper-spacer-y-xs">Lateral derecho</h2>
            <figure class="ft-img">
              <picture>
                <source media="(min-width: 768px)"
                  srcset="../../cds-statics/assets/img/banners/ft-mol-box-photo-text-desktop--example.png">
                <source media="(min-width: 250px)" srcset="../../cds-statics/assets/img/banners/ft-mol-box-photo-text-mobile--example.png,
                        ../../cds-statics/assets/img/banners/ft-mol-box-photo-text-mobile--example.png 2x">
                <img src="../../cds-statics/assets/img/banners/ft-mol-box-photo-text-desktop--example.png" width="656"
                  height="381" loading="lazy" class="ft-helper-img-rd" alt="alt text" title="title text">
              </picture>
              <figcaption class="ft-mol-figcaption">
                <p class="ft-mol-figcaption__txt">
                  <span class="ft-helper-fontWeight-800">Serge Aurier</span>,
                  exjugador del Villarreal es el lateral libre más valioso de este mercado, con 10 millones. Juega en la
                  banda derecha.
                  <span class="ft-helper-fontWeight-800">/EFE/AFP</span>
                </p>
                <div class="ft-mol-number-highlighted">
                  <span class="ft-mol-number-highlighted__item">1</span>
                  <span class="ft-mol-number-highlighted__item">2</span>
                </div>
              </figcaption>

              <hr class="ft-layout-grid-flex__colXs-12 ft-helper-spacer-b-xxs">
            </figure>
            <!-- fin // molécula box photo -->
          </div>
          <div class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colSm-5 ft-layout-grid-flex__colMd-4">
            <!-- Roba lateral -->
            <aside class="ft-ad ft-ad--roba ft-ad--robaNotext">
              <div class="ft-ad--sticky"> <img src="../../cds-statics/assets/img/banners/ad-300x600.jpeg"></div>
            </aside>
            <!-- Fin Roba lateral -->
          </div>
        </div>

      </div>
    </article>
  </div>
 <script rel="modulepreload" src="../../cds-statics/js/layout/fourty-js-layout.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-popover.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/vendors/jquery-3.6.0.min.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/switch/fourty-js-switch-2024.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/switch/fourty-js-switch-basics.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/sidenav/fourty-js-sidenav-default.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-modal.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/vendors/glide.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/slider/fourty-js-slider.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/tab/fourty-js-tabs.js"></script>
  <script rel="modulepreload" src="../../cds-statics/js/poll/fourty-js-pollbox.js"></script>
</body>

</html>