<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>42DS | Templates: Objeto Editorial Audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS: settings -->
    <link id="brandStyles-root" rel="stylesheet" href="../../cds-statics/css/brands/ux/setting.css" type="text/css">
    <!-- CSS: library multibrand -->
    <link id="brandStyles" rel="stylesheet" href="../../cds-statics/css/ux-index.css" type="text/css">
    <!-- CSS: JS highlight -->

    <!-- FAVICON -->
    <link rel="icon" href="../favicon.png" type="image/png">
</head>

<body class="fourty ft-brand-ux ft-skin ft-skin--showroom"
    data-showroom-skin="layout">

    <div class="ft-layout-grid-flex">
        <!-- Breadcrumb -->
                   <div class="ft-org-breadcrumb">
                <nav class="ft-mol-breadcrumb ft-mol-breadcrumb-has--lvl">
                    <ul class="ft-mol-breadcrumb__list">
                        <li class="ft-mol-breadcrumb__item">
                            <a href="#" class="ft-mol-breadcrumb__link" title="title text" target="_self">
                                <span class="ft-mol-breadcrumb__lvl">
                                    Nivel 1
                                </span>
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb__item">
                            <a href="#" class="ft-mol-breadcrumb__link" title="title text" target="_self">
                                <span class="ft-mol-breadcrumb__lvl">
                                    Nivel 2
                                </span>
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb__item ft-mol-breadcrumb__itemIs-not-link">
                            <span class="ft-mol-breadcrumb__lvl">
                                Nivel 3
                            </span>
                        </li>
                    </ul>
                    <ul class="ft-mol-breadcrumb-links-support">
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 1
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 2
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 3
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 4
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 5
                            </a>
                        </li>
                        <li class="ft-mol-breadcrumb-links-support__item">
                            <a href="#" class="ft-mol-breadcrumb-links-support__link" title="title text" target="_self">
                                Link Number 6
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        <!-- Fin Breadcrumb -->
          <!-- Sky left -->
        <aside
            class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsLeft"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-left.jpg">
            </div>
        </aside>
        <!-- final Sky left -->
        <!-- Sky Right -->
        <aside
            class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-2 ft-helper-hide-sm ft-layout-grid-flex__col-addsRight"
            style="height: 5519px;">
            <div>
                <img alt="" src="../../cds-statics/assets/img/banners/ad-sky-right.jpg">
            </div>
        </aside>
        <!-- Fin Sky Right -->
        <!-- Comienzo del layout -->
        <article class="ft-layout-grid-flex__row ft-helper-spacer-y-sm ">
            <div
                class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colMd-8 ft-layout-grid-flex__col-addsContent--L">
                <div class="ft-layout-grid-flex__nested ft-layout-grid-flex__nestedGutter-0">
                    <div
                        class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colSm-7 ft-layout-grid-flex__colMd-8">
                        <div class="ft-org-object">
                            <header>
                                <!--Contenido Multimedia -->
                                <div class="ft-mol-multimedia ft-mol-multimedia--podcast ft-helper-spacer-t-xxs">
                                    <div class="ft-mol-multimedia__container">
                                        <picture class="ft-helper-img-rd"
                                            alt="La educación del futuro llega a bordo de un camión amarillo de patatas fritas: así es el proyecto de un maestro sierense para difundir las nuevas tecnologías"
                                            src="https://estaticos-cdn.prensaiberica.es/clip/00664780-b049-4453-9895-4589853f0845_16-9-aspect-ratio_default_0.jpg">
                                            <source
                                                srcset="https://estaticos-cdn.prensaiberica.es/clip/36975e0c-a118-40e5-a8a0-f978d711be9f_21-9-aspect-ratio_50p_1067863.jpg"
                                                media="(max-width:  439px)">
                                            <source
                                                srcset="https://estaticos-cdn.prensaiberica.es/clip/36975e0c-a118-40e5-a8a0-f978d711be9f_21-9-aspect-ratio_75p_1067863.jpg"
                                                media="(max-width:  660px)">
                                            <source
                                                srcset="https://estaticos-cdn.prensaiberica.es/clip/36975e0c-a118-40e5-a8a0-f978d711be9f_21-9-aspect-ratio_75p_1067863.jpg">
                                            <img class="ft-helper-img-rd" alt="alt imagen" height="495" width="880"
                                                src="https://estaticos-cdn.prensaiberica.es/clip/36975e0c-a118-40e5-a8a0-f978d711be9f_21-9-aspect-ratio_default_1067863.jpg"
                                                alt=“Los audios que han salido hasta ahora son una broma, hay muchísimos
                                                más">
                                        </picture>

                                        <div class="ft-mol-multimedia__footer">
                                            <div class="ft-mol-multimedia__footerIcon">
                                                <svg class="ft-helper-img-rd" xmlns="http://www.w3.org/2000/svg"
                                                    width="32" height="32" viewBox="0 0 32 32" fill="none">
                                                    <path
                                                        d="M3 15C3 7.82 8.82 2 16 2C23.18 2 29 7.82 29 15V22C29 25.61 25.848 28.5 22 28.5C21.7348 28.5 21.4804 28.3946 21.2929 28.2071C21.1054 28.0196 21 27.7652 21 27.5V16.5C21 16.3672 21.0264 16.2358 21.0777 16.1133C21.129 15.9909 21.2042 15.8799 21.2989 15.7868C21.3935 15.6937 21.5058 15.6204 21.6291 15.5712C21.7524 15.5219 21.8843 15.4977 22.017 15.5L22.265 15.505C24.116 15.569 25.787 16.3 27.001 17.45L27 15C27 8.925 22.075 4 16 4C9.925 4 5 8.925 5 15V17.45C6.274 16.244 8.047 15.5 10 15.5C10.2652 15.5 10.5196 15.6054 10.7071 15.7929C10.8946 15.9804 11 16.2348 11 16.5V27.5C11 27.6328 10.9736 27.7642 10.9223 27.8867C10.871 28.0091 10.7958 28.1201 10.7011 28.2132C10.6065 28.3063 10.4942 28.3796 10.3709 28.4288C10.2476 28.4781 10.1157 28.5023 9.983 28.5L9.735 28.495C6 28.366 3 25.518 3 22V15Z"
                                                        fill="white" />
                                                </svg>
                                                <a href="/siero/2023/04/24/arte-urbano-repartido-pola-descubre-86407542.html"
                                                    title="El arte urbano despega en la Pola, con lleno en las visitas guiadas para conocer las obras de la capital de Siero"
                                                    aria-label="El arte urbano despega en la Pola, con lleno en las visitas guiadas para conocer las obras de la capital de Siero">
                                                    <svg class="ft-helper-img-rd" width="32" height="32"
                                                        viewBox="0 0 32 32" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M24.7211 17.922L10.4635 26.833C9.73935 27.2856 8.8 26.765 8.8 25.911V8.08901C8.8 7.23503 9.73935 6.7144 10.4635 7.16701L24.7211 16.078C25.4025 16.5038 25.4025 17.4962 24.7211 17.922Z"
                                                            fill="white" />
                                                    </svg>
                                                </a>
                                                <svg width="518" class="ft-helper-img-rd" height="80"
                                                    viewBox="0 0 518 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 64H2V80H0V64Z" fill="white" />
                                                    <path d="M6 72H8V80H6V72Z" fill="white" />
                                                    <path d="M12 72H14V80H12V72Z" fill="white" />
                                                    <path d="M18 72H20V80H18V72Z" fill="white" />
                                                    <path d="M24 72H26V80H24V72Z" fill="white" />
                                                    <path d="M30 72H32V80H30V72Z" fill="white" />
                                                    <path d="M66 72H68V80H66V72Z" fill="white" />
                                                    <path d="M78 72H80V80H78V72Z" fill="white" />
                                                    <path d="M114 72H116V80H114V72Z" fill="white" />
                                                    <path d="M138 72H140V80H138V72Z" fill="white" />
                                                    <path d="M198 72H200V80H198V72Z" fill="white" />
                                                    <path d="M204 72H206V80H204V72Z" fill="white" />
                                                    <path d="M210 72H212V80H210V72Z" fill="white" />
                                                    <path d="M246 72H248V80H246V72Z" fill="white" />
                                                    <path d="M258 72H260V80H258V72Z" fill="white" />
                                                    <path d="M264 72H266V80H264V72Z" fill="white" />
                                                    <path d="M270 72H272V80H270V72Z" fill="white" />
                                                    <path d="M276 72H278V80H276V72Z" fill="white" />
                                                    <path d="M282 72H284V80H282V72Z" fill="white" />
                                                    <path d="M318 72H320V80H318V72Z" fill="white" />
                                                    <path d="M330 72H332V80H330V72Z" fill="white" />
                                                    <path d="M372 72H374V80H372V72Z" fill="white" />
                                                    <path d="M384 72H386V80H384V72Z" fill="white" />
                                                    <path d="M390 72H392V80H390V72Z" fill="white" />
                                                    <path d="M396 72H398V80H396V72Z" fill="white" />
                                                    <path d="M402 72H404V80H402V72Z" fill="white" />
                                                    <path d="M408 72H410V80H408V72Z" fill="white" />
                                                    <path d="M444 72H446V80H444V72Z" fill="white" />
                                                    <path d="M456 72H458V80H456V72Z" fill="white" />
                                                    <path d="M492 72H494V80H492V72Z" fill="white" />
                                                    <path d="M516 72H518V80H516V72Z" fill="white" />
                                                    <path d="M36 64H38V80H36V64Z" fill="white" />
                                                    <path d="M42 56H44V80H42V56Z" fill="white" />
                                                    <path d="M48 64H50V80H48V64Z" fill="white" />
                                                    <path d="M72 64H74V80H72V64Z" fill="white" />
                                                    <path d="M84 64H86V80H84V64Z" fill="white" />
                                                    <path d="M102 64H104V80H102V64Z" fill="white" />
                                                    <path d="M108 64H110V80H108V64Z" fill="white" />
                                                    <path d="M120 64H122V80H120V64Z" fill="white" />
                                                    <path d="M144 64H146V80H144V64Z" fill="white" />
                                                    <path d="M192 64H194V80H192V64Z" fill="white" />
                                                    <path d="M216 64H218V80H216V64Z" fill="white" />
                                                    <path d="M252 64H254V80H252V64Z" fill="white" />
                                                    <path d="M288 64H290V80H288V64Z" fill="white" />
                                                    <path d="M300 64H302V80H300V64Z" fill="white" />
                                                    <path d="M324 64H326V80H324V64Z" fill="white" />
                                                    <path d="M336 64H338V80H336V64Z" fill="white" />
                                                    <path d="M378 64H380V80H378V64Z" fill="white" />
                                                    <path d="M414 64H416V80H414V64Z" fill="white" />
                                                    <path d="M426 64H428V80H426V64Z" fill="white" />
                                                    <path d="M450 64H452V80H450V64Z" fill="white" />
                                                    <path d="M462 64H464V80H462V64Z" fill="white" />
                                                    <path d="M480 64H482V80H480V64Z" fill="white" />
                                                    <path d="M486 64H488V80H486V64Z" fill="white" />
                                                    <path d="M498 64H500V80H498V64Z" fill="white" />
                                                    <path d="M342 64H344V80H342V64Z" fill="white" />
                                                    <path d="M150 24H152V80H150V24Z" fill="white" />
                                                    <path d="M180 24H182V80H180V24Z" fill="white" />
                                                    <path d="M234 24H236V80H234V24Z" fill="white" />
                                                    <path d="M90 50H92V80H90V50Z" fill="white" />
                                                    <path d="M126 50H128V80H126V50Z" fill="white" />
                                                    <path d="M306 48H308V80H306V48Z" fill="white" />
                                                    <path d="M432 48H434V80H432V48Z" fill="white" />
                                                    <path d="M54 48H56V80H54V48Z" fill="white" />
                                                    <path d="M60 56H62V80H60V56Z" fill="white" />
                                                    <path d="M96 56H98V80H96V56Z" fill="white" />
                                                    <path d="M132 56H134V80H132V56Z" fill="white" />
                                                    <path d="M156 56H158V80H156V56Z" fill="white" />
                                                    <path d="M186 56H188V80H186V56Z" fill="white" />
                                                    <path d="M222 56H224V80H222V56Z" fill="white" />
                                                    <path d="M240 56H242V80H240V56Z" fill="white" />
                                                    <path d="M294 56H296V80H294V56Z" fill="white" />
                                                    <path d="M312 56H314V80H312V56Z" fill="white" />
                                                    <path d="M348 56H350V80H348V56Z" fill="white" />
                                                    <path d="M366 56H368V80H366V56Z" fill="white" />
                                                    <path d="M420 56H422V80H420V56Z" fill="white" />
                                                    <path d="M438 56H440V80H438V56Z" fill="white" />
                                                    <path d="M474 56H476V80H474V56Z" fill="white" />
                                                    <path d="M510 56H512V80H510V56Z" fill="white" />
                                                    <path d="M468 50H470V80H468V50Z" fill="white" />
                                                    <path d="M504 50H506V80H504V50Z" fill="white" />
                                                    <path d="M354 32H356V80H354V32Z" fill="white" />
                                                    <path d="M360 24H362V80H360V24Z" fill="white" />
                                                    <path d="M228 32H230V80H228V32Z" fill="white" />
                                                    <path d="M162 16H164V80H162V16Z" fill="white" />
                                                    <path d="M174 16H176V80H174V16Z" fill="white" />
                                                    <path d="M168 0H170V80H168V0Z" fill="white" />
                                                </svg>
                                            </div>
                                            <p class="ft-mol-multimedia__footerText">
                                                1:32
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!--Contenido Multimedia -->
                                <!--Pretitle -->
                                <p class="ft-mol-gallery__contentsPretitle">
                                    LALIGA SANTANDER
                                </p>
                                <!--Fin Pretitle -->
                                <!-- Titular -->
                                <h1 class="ft-title">
                                    “Los audios que han salido hasta ahora son una broma, hay muchísimos más”
                                </h1>
                                <!-- fin Titular -->
                                <!-- Subtitulo -->
                                <h2 class="ft-mol-subtitle ft-mol-subtitle--listSimple ft-helper-fontColor-quaternary">
                                    <a href="#" class="ft-link ft-link--decoration" title="title text" target="self">
                                        El portugués, por su calidad, está llamado a poner fin al debate y a los
                                        experimentos
                                    </a>
                                </h2>
                                <!-- Fin Subtitulo -->
                            </header>
                            <!-- Modulo Autor -->
                            <div class="ft-mol-writer ft-mol-writer--side">
                                <div class="ft-mol-writer__item">
                                    <div class="ft-mol-writer__title">
                                        <p
                                            class="ft-mol-writer__titleOpinion ft-helper-fontSize-body-L--small ft-helper-fontColor-primary">
                                            Albert Sáez</p>
                                    </div>
                                </div>
                                <div class="ft-date">
                                    <time class="ft-date__text" datetime="2011-11-18T14:54:39+00:00"><span
                                            class=" ft-helper-fontWeight-800">Barcelona </span>05 SEPT 2022 - 13:04
                                        CET</time>
                                </div>
                            </div>
                            <!-- Fin Modulo Autor -->
                            <!--Primer Párrafo -->
                            <p class="ft-text">
                                LUISMA MURIAS / El anfiteatro del barrio de Montecerrao congrega a 20.000 personas que
                                premian con diez ovaciones la gran descarga de color en el novedoso escenario de la
                                noche pirotécnica
                            </p>
                            <!--Fin Primer Párrafo -->
                            <!--RRSS -->
                            <div class="ft-mol-rrss-inline">
                                <div class="ft-mol-rrss-inline__items">
                                    <a href="#" class="ft-btn-rrss ft-btn-rrss--twitter" title="Twitter" target=”_blank”
                                        rel="nofollow">
                                        <span class="ft-mol-rrss ft-mol-rrssTwitter--default ft-btn-rrss__icon"></span>
                                        <span class="ft-btn-rrss__text">
                                            RRSS Twitter
                                        </span>
                                    </a>
                                    <a href="#" class="ft-btn-rrss ft-btn-rrss--facebook" title="Facebook"
                                        target=”_blank” rel="nofollow">
                                        <span class="ft-mol-rrss ft-mol-rrssFacebook--default ft-btn-rrss__icon"></span>
                                        <span class="ft-btn-rrss__text">
                                            RRSS Facebook
                                        </span>
                                    </a>
                                    <a href="#" class="ft-btn-rrss ft-btn-rrss--whatsapp" title="WhatsApp"
                                        target=”_blank” rel="nofollow">
                                        <span class="ft-mol-rrss ft-mol-rrssWhatsapp--default ft-btn-rrss__icon"></span>
                                        <span class="ft-btn-rrss__text">
                                            RRSS WhatsApp
                                        </span>
                                    </a>
                                    <a href="#" class="ft-btn-rrss ft-btn-rrss--email" title="Email" target=”_blank”
                                        rel="nofollow">
                                        <span class="ft-mol-rrss ft-mol-rrssEmail--default ft-btn-rrss__icon"></span>
                                        <span class="ft-btn-rrss__text">
                                            RRSS Email
                                        </span>
                                    </a>
                                    <a href="#" class="ft-btn-rrss ft-btn-rrss--bookmark" title="title text"
                                        target="_self">
                                        <span class="ft-mol-rrss ft-mol-rrssBookmark--default ft-btn-rrss__icon"></span>
                                        <span class="ft-btn-rrss__text">
                                            RRSS Añadir a marcadores
                                        </span>
                                        <span class="ft-btn-nav__icon"></span>
                                    </a>
                                </div>
                            </div>
                            <!--Fin RRSS -->
                            <!-- Modulo Relaionadas con imagen -->
                            <div class="ft-mol-related ft-mol-related--Hasimage">
                                <img src="https://estaticos-cdn.sport.es/clip/3ccf3278-1009-485f-8a3e-de5cbd02cc22_thumb-sp-aspect-ratio_default_0.jpg"
                                    width="160" height="90" loading="lazy" class="ft-mol-related__img" alt="alt text"
                                    title="title text">
                                <div class="ft-mol-related__group">
                                    <p class="ft-mol-related__header">
                                        Más información
                                    </p>
                                    <p class="ft-mol-related__item">
                                        <a href="#" class="ft-link" title="title text" target="_self">
                                            Informe SPORT: la 'edad media' desaparece del Barça
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <!-- Fin Modulo Relaionadas con imagen -->
                            <!--Ladillo-->
                            <h2 class="ft-helper-spacer-y-xs ft-helper-fontSize-heading-XS">
                                Más videos
                            </h2>
                            <!--Fin Ladillo-->
                            <!--Viñetas -->
                            <div class="ft-layout-grid-flex__nested ft-layout-grid-flex__nestedGutter-0">
                                <div
                                    class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colSm-6 ft-layout-grid-flex__colMd-4">
                                    <div class="ft-mol-masonry ft-mol-masonry--Has-video">
                                        <div class="ft-mol-masonry__picture">
                                            <a href="#" title="titulo">
                                                <picture>
                                                    <source media="(min-width: 768px)"
                                                        srcset="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg">
                                                    <source media="(min-width: 250px)"
                                                        srcset="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg,
                                                                                                            https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg 2x">
                                                    <img src="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg"
                                                        loading="lazy" class="ft-helper-img-rd" alt="alt text"
                                                        title="title text" width="420" height="215">
                                                </picture>
                                                <div class="ft-mol-masonry__icon">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="ft-mol-masonry__content">
                                            <h2 class="ft-mol-masonry__contentTitle">
                                                <a href="#" title="titulo" class="ft-link ft-link--secondary">¿Cuántos
                                                    partidos ha jugado Busquets
                                                    La tira y afloja del viernes, 11 de agosto de 2023</a>
                                            </h2>
                                            <p class="ft-mol-masonry__contentText">
                                                Lorem ipsum dolor sit amet consecteur
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colSm-6 ft-layout-grid-flex__colMd-4">
                                    <div class="ft-mol-masonry ft-mol-masonry--Has-video">
                                        <div class="ft-mol-masonry__picture">
                                            <a href="#" title="titulo">
                                                <picture>
                                                    <source media="(min-width: 768px)"
                                                        srcset="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg">
                                                    <source media="(min-width: 250px)"
                                                        srcset="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg,
                                                                                                            https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg 2x">
                                                    <img src="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg"
                                                        loading="lazy" class="ft-helper-img-rd" alt="alt text"
                                                        title="title text" width="420" height="215">
                                                </picture>
                                                <div class="ft-mol-masonry__icon">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="ft-mol-masonry__content">
                                            <h2 class="ft-mol-masonry__contentTitle">
                                                <a href="#" title="titulo" class="ft-link ft-link--secondary">¿Cuántos
                                                    partidos ha jugado Busquets
                                                    La tira y afloja del viernes, 11 de agosto de 2023</a>
                                            </h2>
                                            <p class="ft-mol-masonry__contentText">
                                                Lorem ipsum dolor sit amet consecteur
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colSm-6 ft-layout-grid-flex__colMd-4">
                                    <div class="ft-mol-masonry ft-mol-masonry--Has-video">
                                        <div class="ft-mol-masonry__picture">
                                            <a href="#" title="titulo">
                                                <picture>
                                                    <source media="(min-width: 768px)"
                                                        srcset="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg">
                                                    <source media="(min-width: 250px)"
                                                        srcset="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg,
                                                                                                            https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg 2x">
                                                    <img src="https://estaticos-cdn.prensaiberica.es/clip/c1c91040-9844-47c9-9bab-d7c93f1c1d8f_16-9-aspect-ratio_25p_0.jpg"
                                                        loading="lazy" class="ft-helper-img-rd" alt="alt text"
                                                        title="title text" width="420" height="215">
                                                </picture>
                                                <div class="ft-mol-masonry__icon">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="ft-mol-masonry__content">
                                            <h2 class="ft-mol-masonry__contentTitle">
                                                <a href="#" title="titulo" class="ft-link ft-link--secondary">¿Cuántos
                                                    partidos ha jugado Busquets
                                                    La tira y afloja del viernes, 11 de agosto de 2023</a>
                                            </h2>
                                            <p class="ft-mol-masonry__contentText">
                                                Lorem ipsum dolor sit amet consecteur
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fin Viñetas-->
                        </div>
                    </div>
                    <div
                        class="ft-layout-grid-flex__colXs-12 ft-layout-grid-flex__colSm-5 ft-layout-grid-flex__colMd-4">
                        <aside class="ft-ad ft-ad--roba ft-ad--robaNotext ft-helper-hide-sm">
                            <div class="ft-ad--sticky"><img src="../../cds-statics/assets/img/banners/ad-300x600.jpeg"
                                    alt="">
                            </div>
                        </aside>
                        <aside class="ft-ad ft-ad--roba ft-ad--robaNotext ft-helper-hide-md">
                            <div class="ft-ad--sticky"><img src="../../cds-statics/assets/img/banners/ad-300x250.png">
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </article>
        <!-- Fin del layout -->
        </article>
        <!-- Fin del layout -->
        <!--Publi Footer -->
        <div class="ft-ad ft-ad--footer">
            <div class="ft-ad--footer__content">
                <div class="ft-ad--footer__embed">
                    <aside class="ft-helper-hide-md">
                        <img src="../../cds-statics/assets/img/banners/ad-footer--mobile.svg" width="728" height="87"
                            alt="banner" class="ft-helper-img-rd">
                    </aside>
                    <aside class="ft-helper-hide-mo">
                        <img src="../../cds-statics/assets/img/banners/ad-footer.png" width="728" height="87"
                            alt="banner" class="ft-helper-img-rd">
                    </aside>
                </div>
                <button type="button" name="close-button" class="ft-btn-nav ft-btn-nav--close ft-popover-close-trigger"
                    title="title text">
                    <span class="ft-btn-nav__text">
                        Cerrar
                    </span>
                    <span class="ft-btn-nav__icon"></span>
                </button>
            </div>
        </div>
        <!--Fin Publi Footer -->
    </div>
    <script rel="modulepreload" src="../../cds-statics/js/layout/fourty-js-layout.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-popover.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/vendors/jquery-3.6.0.min.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/switch/fourty-js-switch-2024.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/sidenav/fourty-js-sidenav-default.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/modal/fourty-js-modal.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/vendors/glide.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/slider/fourty-js-slider.js"></script>
    <script rel="modulepreload" src="../../cds-statics/js/tab/fourty-js-tabs.js"></script>

</body>

</html>