// MIXIN HELPER: SIZE
// ===============================================
@mixin ft-helper-size() {
  // .ft-helper-size
  .ft-helper-size {
    // &-h
    &-h {
      // &-50
      &-50 {
        min-height: 50vh;

        @supports (height: 50dvh) {
          min-height: 50dvh;
        }

        @include min-screen(1024px) {
          min-height: initial;
          height: 50vh;

          @supports (height: 50dvh) {
            height: 50dvh;
          }
        }
      }

      // &-100
      &-100 {
        min-height: 100vh;

        @supports (height: 100dvh) {
          min-height: 100dvh;
        }

        @include min-screen(1024px) {
          min-height: initial;
          height: 100vh;

          @supports (height: 100dvh) {
            height: 100dvh;
          }
        }
      }
    }
  }
}
