// ABSTRACTS
// ================================================
@import "../../../abstracts/abstracts.scss";
@import "../../../vendors/bourbon/bourbon";
// ================================================

// .ft-skin
// ===============================================
.ft-skin {
  // &--showroom
  &--showroom {
    @include min-screen(1280px) {
      background-repeat: no-repeat;
    }

    // [class*="ft-tag--badge"]
    [class*="ft-tag--badge"] {
      background-color: var(--color-white);
    }

    // &[data-showroom-skin*="cover"]
    &[data-showroom-skin*="cover"] {
      @include min-screen(1280px) {
        background-image: url("#{$images-path}/bgs/ft-skin-showroom-body--cover.png");
        background-position: center right -1px;
        background-size: contain;
      }

      // [class*="ft-layout-grid-flex__colMd-3"]
      [class*="ft-layout-grid-flex__colMd-3"] {
        background-color: var(--color-white);

        @include min-screen(1280px) {
          height: 100vh;
        }

        // dark-mode: automatic
        /* @media (prefers-color-scheme: dark) {
          & {
            background-color: transparent;
          }
        }*/

        // dark-mode: manual
        [data-theme="dark"] & {
          background-color: transparent;
        }
      }

      // [class*="ft-layout-grid-flex__colMd-8"]
      [class*="ft-layout-grid-flex__colMd-8"] {
        @include min-screen(1280px) {
          @include position(relative, null null null null);
          @include padding(null null null 5vw);
          z-index: 2;
          height: 100vh;
        }

        @include min-screen(1920px) {
          @include padding(null null null 0);
        }
      }
    }

    // &[data-showroom-skin*="secciones"]
    &[data-showroom-skin*="secciones"] {
      background-color: var(--color-lightGrey);

      @include min-screen(1280px) {
        background-image:
          linear-gradient(
            90deg,
            rgba(242, 242, 242, 1) 50%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
          ),
          url("#{$images-path}/bgs/ft-skin-showroom-body--contenidos.png");
        background-position: top center;
        background-size: cover;
      }

      // main
      main // > [class*="ft-layout-grid-flex"] > [class*="ft-layout-grid-flex__row"] 

      >[class*="ft-layout-grid-flex"]>[class*="ft-layout-grid-flex__row"] {
        // &:after
        &:after {
          @include min-screen(1280px) {
            content: "";
            @include position(fixed, 0 40px null null);
            z-index: -1;
            width: 100%;
            height: 100vh;
            background-color: var(--color-lightGrey);
            mask-image: url('data:image/svg+xml,<svg width="1620" height="1024" viewBox="0 0 1620 1024" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1429.1 941.286V915.229L1414.64 941.286H1429.1Z" fill="%23F2F2F2"/><path d="M1421.63 982.256H1414.23V1012.37H1421.63C1424.68 1012.37 1427.06 1012.01 1428.8 1011.29C1430.58 1010.57 1431.84 1009.1 1432.58 1006.89C1433.36 1004.68 1433.76 1001.33 1433.76 996.856C1433.76 992.598 1433.36 989.445 1432.58 987.399C1431.84 985.298 1430.58 983.915 1428.8 983.252C1427.06 982.588 1424.68 982.256 1421.63 982.256Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1620 0H1613.97V544.737H1607.97V0H1602V232.584H1596V0H0V1024H1462.9C1462.62 1023.97 1462.34 1023.95 1462.07 1023.92C1461.52 1023.86 1460.99 1023.8 1460.47 1023.73C1457.53 1023.29 1454.67 1022.71 1451.89 1021.99V1010.29L1452.2 1010.04C1454.51 1010.87 1457.03 1011.54 1459.76 1012.04C1462.55 1012.48 1465.3 1012.7 1468.03 1012.7C1471.76 1012.7 1474.51 1012.53 1476.3 1012.2C1478.14 1011.81 1479.34 1011.23 1479.92 1010.46C1480.5 1009.69 1480.79 1008.69 1480.79 1007.47C1480.79 1006.42 1480.58 1005.59 1480.16 1004.98C1479.74 1004.38 1478.92 1003.91 1477.72 1003.57C1476.51 1003.19 1474.72 1002.88 1472.36 1002.66L1467.16 1002.16C1463.28 1001.78 1460.21 1000.92 1457.95 999.593C1455.75 998.266 1454.17 996.496 1453.23 994.284C1452.34 992.017 1451.89 989.307 1451.89 986.155C1451.89 982.395 1452.6 979.353 1454.02 977.03C1455.49 974.708 1457.85 973.021 1461.1 971.97C1464.36 970.864 1468.69 970.311 1474.09 970.311C1481.13 970.311 1486.93 971.279 1491.49 973.215L1491.26 984.496L1491.02 984.828C1485.82 982.892 1480.39 981.924 1474.72 981.924C1471.99 981.924 1469.89 982.09 1468.42 982.422C1466.95 982.699 1465.93 983.169 1465.35 983.832C1464.78 984.496 1464.49 985.436 1464.49 986.653C1464.49 987.869 1464.67 988.782 1465.04 989.39C1465.46 989.998 1466.27 990.468 1467.48 990.8C1468.69 991.077 1470.45 991.353 1472.75 991.63L1477.72 992.21C1481.91 992.708 1485.14 993.593 1487.4 994.865C1489.66 996.137 1491.21 997.851 1492.05 1000.01C1492.94 1002.11 1493.38 1004.68 1493.38 1007.72C1493.38 1011.43 1492.62 1014.52 1491.1 1017.01C1489.63 1019.45 1487.22 1021.27 1483.86 1022.49C1481.89 1023.2 1479.53 1023.7 1476.78 1024H1504.39V970.311H1557.61V1024H1566.78V970.311H1620L1620 0ZM1557.61 961.001H1504.39V907H1557.61V961.001ZM1401.63 940.343L1421.48 907.514H1441.08V941.286H1450.06V951.4H1441.25V960.229H1428.41L1428.16 951.4H1401.63V940.343ZM1454.28 911.286V922.514H1455.05C1457.22 921.314 1459.73 920.257 1462.58 919.343C1465.43 918.371 1468.23 917.886 1470.97 917.886C1473.82 917.886 1476.01 918.343 1477.55 919.257C1479.15 920.114 1479.98 921.629 1480.04 923.8C1480.09 925.629 1479.18 927.2 1477.3 928.514C1475.47 929.771 1472.93 931.086 1469.68 932.457C1465.35 934.286 1461.95 936.057 1459.5 937.772C1457.05 939.486 1455.31 941.372 1454.28 943.429C1453.31 945.486 1452.83 947.972 1452.83 950.886V960.486H1493.38V949.6H1465.49C1465.49 948.286 1466.43 946.972 1468.31 945.657C1470.25 944.286 1473.76 942.629 1478.84 940.686C1484.09 938.686 1487.74 936.343 1489.79 933.657C1491.9 930.914 1492.96 927.286 1492.96 922.771C1492.96 917.057 1491.1 913 1487.39 910.6C1483.74 908.2 1478.87 907 1472.76 907C1468.94 907 1465.4 907.4 1462.15 908.2C1458.9 909 1456.28 910.029 1454.28 911.286ZM1401.63 1023.57V971.058H1423.44C1427.8 971.058 1431.45 971.445 1434.39 972.219C1437.33 972.938 1439.69 974.238 1441.47 976.118C1443.26 977.998 1444.54 980.625 1445.33 983.998C1446.12 987.316 1446.51 991.602 1446.51 996.856C1446.51 1002.33 1446.12 1006.81 1445.33 1010.29C1444.54 1013.78 1443.26 1016.49 1441.47 1018.42C1439.69 1020.36 1437.33 1021.71 1434.39 1022.49C1431.45 1023.21 1427.8 1023.57 1423.44 1023.57H1401.63ZM1602 238H1596V246H1602V238Z" fill="%23F2F2F2"/></svg>');
            mask-repeat: no-repeat;
            mask-position: bottom right;
            mask-size: contain;
          }
        }

        // > [class*="ft-layout-grid-flex__colMd-1"]
        > [class*="ft-layout-grid-flex__colMd-1"] {
          @include min-screen(2000px) {
            background-color: var(--color-lightGrey);
          }
        }

        // > [class*="ft-layout-grid-flex__colMd-3"]
        > [class*="ft-layout-grid-flex__colMd-3"] {
          @include min-screen(1280px) {
            height: 100vh;
          }
        }

        // > [class*="ft-layout-grid-flex__colMd-8"]
        > [class*="ft-layout-grid-flex__colMd-8"] {
          @include min-screen(1280px) {
            background-image: linear-gradient(
              90deg,
              rgba(242, 242, 242, 1) 90%,
              rgba(255, 255, 255, 0) 90%,
              rgba(255, 255, 255, 0) 100%
            );

            // dark-mode: automatic
            /* @media (prefers-color-scheme: dark) {
              & {
                background-image: none; 
              }
            }*/

            // dark-mode: manual
            [data-theme="dark"] & {
              background-image: none;
            }
          }

          @include min-screen(2000px) {
            background-image: none;
            background-color: var(--color-lightGrey);
          }
        }
      }

      //  [class*="ft-layout-grid-flex__colXs-12"]
      [class*="ft-layout-grid-flex__colXs-12"] {
        // &[class*="ft-helper-property-border"]
        &[class*="ft-helper-property-border"] {
          border-width: 0;

          @include min-screen(1280px) {
            border-width: thin;
          }
        }
      }

      // [class*="ft-helper-img-positioned"]
      [class*="ft-helper-img-positioned"][class*="ft-helper-img-positioned--bttm"][class*="ft-helper-img-positioned--cnt"] {
        display: none;

        @include min-screen(1280px) {
          display: contents;
        }
      }
    }

    // &[data-showroom-skin*="secciones interiores"]
    &[data-showroom-skin*="secciones interiores"] {
      // main
      main {
        // > [class*="ft-layout-grid-flex"] > [class*="ft-layout-grid-flex__row"]
        > [class*="ft-layout-grid-flex"] > [class*="ft-layout-grid-flex__row"] {
          // > [class*="ft-layout-grid-flex__colMd-3"]
          > [class*="ft-layout-grid-flex__colMd-3"] {
            z-index: -1;
          }

          // > [class*="ft-layout-grid-flex__colMd-8"]
          > [class*="ft-layout-grid-flex__colMd-8"] {
            @include min-screen(1280px) {
              z-index: 2;
              background-image: none;
            }

            @include min-screen(2000px) {
              background-color: transparent;
            }

            // &::after
            &:after {
              @include min-screen(2000px) {
                content: "";
                @include position(absolute, null 0 0 0);
                @include margin(null auto null auto);
                z-index: -1;
                width: 50%;
                height: 40%;
                background-color: var(--color-lightGrey);
              }
            }

            // > [class*="ft-layout-grid-flex__colXs-12"]
            > [class*="ft-layout-grid-flex__colXs-12"]:nth-child(2) {
              background-color: var(--color-white);
              // dark-mode: automatic
              /* @media (prefers-color-scheme: dark) {
                & {
                  background-color: #222222;
                  box-shadow: inset 0 0 0 2px #111111;
                }
              }*/

              // dark-mode: manual
              [data-theme="dark"] & {
                background-color: #222222;
                box-shadow: inset 0 0 0 2px #111111;
              }

              @include min-screen(1280px) {
                @include margin(null null 20vh null);
              }
            }
          }

          // > [class*="ft-layout-grid-flex__colMd-1"]
          > [class*="ft-layout-grid-flex__colMd-1"] {
            background-color: transparent;
          }
        }
      }

      // [data-showroom-banner*="yes"]
      [data-showroom-banner*="yes"] {
        z-index: -1;

        @include min-screen(1280px) {
          z-index: 0;
        }

        // [class*="ft-helper-img-rd"]
        [class*="ft-helper-img-rd"] {
          min-height: 50vh;
          object-fit: cover;

          @include min-screen(1000px) {
            min-height: 75vh;
          }

          @include min-screen(1920px) {
            min-height: auto;
            max-height: 414px;
          }
        }
      }
    }

    // main
    main {
      // dark-mode: automatic
      /* @media (prefers-color-scheme: dark) {
        & {
          background-color: #222222;
        }
      } */

      // dark-mode: manual
      [data-theme="dark"] & {
        background-color: #222222;
      }
    }
  }

  // &--cerca
  &--cerca {
    overflow-x: hidden;

    .ft-layout-grid-flex > .ft-layout-grid-flex__row:first-of-type {
      @include padding(null 0 null 0);
      max-width: none;
    }

    .ft-layout-grid-flex
      > .ft-layout-grid-flex__row:first-of-type
      > .ft-layout-grid-flex__colXs-12 {
      @include padding(null 0 null 0);
    }

    // .ft-org-hero-welcome
    .ft-org-hero-welcome {
      min-height: 10rem;

      @include min-screen(1024px) {
        min-height: 15rem;
      }

      // Cuando contiene un <p>
      &:has(p) {
        min-height: 12rem;

        @include min-screen(1024px) {
          min-height: 18rem;
        }
      }
    }

    // .ft-org-search-autocomplete
    .ft-org-search-autocomplete
      .ft-mol-form__input:focus
      + .ft-mol-form__label {
      background-color: var(--color-lightGrey);
    }

    // .ft-mol-sticky-panel
    .ft-mol-sticky-panel {
      bottom: 4.5rem;
      z-index: 999;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      // &::after
      &:after {
        display: none;
        @include min-screen(1024px) {
          display: block;
        }
      }

      // &__chips-list
      &__chips-list {
        justify-content: center;
        background-image: none;
        background-color: vvar(--color-white);
      }

      // &__header
      &__header {
        @include margin(null null 0 null);
        @include padding(null null 0.5rem null);
        text-align: center;
      }

      // &__body
      &__body {
        @include position(relative, null null null null);
        @include padding(1rem null null null);
        z-index: 2;
        @include min-screen(1024px) {
          @include margin(1rem null null null);
        }
      }

      // &__footer
      &__footer {
        @include margin(0 null null null);
      }

      // &__container
      &__container {
        @include padding(1rem null 3rem null);

        // &::after
        &:after {
          @include min-screen(1024px) {
            content: "";
            @include position(absolute, 0 0 null null);
            z-index: -1;
            width: 32.2rem;
            height: 15rem;
            background: url('data:image/svg+xml;charset=utf-8,%3Csvg width="322" height="75" viewBox="0 0 322 75" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg clip-path="url(%23clip0_2182_2383)"%3E%3Cellipse cx="246.14" cy="-74.7981" rx="254.672" ry="138.041" transform="rotate(-11.5409 246.14 -74.7981)" fill="%23F2F2F2"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_2182_2383"%3E%3Cpath d="M0 0H322V65C322 70.5228 317.523 75 312 75H10C4.47716 75 0 70.5228 0 65V0Z" fill="white"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E')
              no-repeat center top;
            background-size: contain;
          }
        }
      }

      // &--bttm
      &--bttm {
        border-color: var(--color-darkGrey);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        @include min-screen(1024px) {
          border-width: 0;
          border-color: transparent;
        }

        // .ft-mol-btnGroup
        .ft-mol-btnGroup {
          z-index: 1;
        }

        // .ft-mol-sticky-panel__container
        .ft-mol-sticky-panel__container {
          @include min-screen(1024px) {
            border: 1px solid var(--color-darkGrey);
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
          }
        }
      }
    }

    // &-buscador
    &-buscador {
      // .ft-org-hero-welcome
      .ft-org-hero-welcome {
        position: relative;

        .ft-layout-grid-flex__row {
          max-width: none;
        }

        // &::after
        &::after {
          content: "";
          @include position(absolute, null null 0 null);
          z-index: 1;
          left: calc((100vw - 100%) / -2);
          right: calc((100vw - 100%) / -2);
          width: auto;
          height: 136px;
          transform: rotate(180deg);
          background: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 1440 160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"%3E%3Cpath d="M0,160 C480,0 960,0 1440,160 L1440,0 L0,0 Z" fill="%23F2F2F2"/%3E%3C/svg%3E')
            no-repeat left top;
          background-size: 100% 50px;

          @include min-screen(1024px) {
            bottom: 0;
            background-size: 100% 120px;
          }
        }
      }

      // .ft-org-search-autocomplete
      .ft-org-search-autocomplete {
        @include position(relative, null null null null);
        background-color: var(--color-lightGrey);

        // &::before
        &::before {
          content: "";
          @include position(absolute, 0 null 0 null);
          left: calc((100vw - 100%) / -2);
          z-index: -1;
          width: calc((100vw - 100%) / 2);
          background-color: var(--color-lightGrey);
        }

        // &::after
        &::after {
          content: "";
          @include position(absolute, 0 null 0 null);
          right: calc((100vw - 100%) / -2);
          z-index: -1;
          width: calc((100vw - 100%) / 2);
          background-color: var(--color-lightGrey);
        }
      }

      // .ft-org-search-autocomplete form
      .ft-org-search-autocomplete form {
        max-width: 69.4rem;
      }

      // .ft-org-search-autocomplete .ft-text-alert--is-error
      .ft-org-search-autocomplete .ft-text-alert--is-error {
        @include margin(1.5rem auto null auto);
        max-width: 69.4rem;
      }

      // .ft-org-regions-list__content
      .ft-org-regions-list__content {
        @include margin(null auto null auto);
        max-width: 69.4rem;
      }

      // .ft-org-suggestions-chips
      .ft-org-suggestions-chips {
        @include position(relative, null null null null);
        padding-top: 2.8rem;

        // .ft-layout-grid-flex__row
        .ft-layout-grid-flex__row {
          max-width: none;
        }

        // &::after
        &::after {
          content: "";
          @include position(absolute, -0.2px null null null);
          z-index: 1;
          left: calc((100vw - 100%) / -2);
          right: calc((100vw - 100%) / -2);
          width: auto;
          height: 150px;
          transform: rotate(180deg);
          background: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 1440 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"%3E%3Cpath d="M0,0 C480,120 960,120 1440,0 L1440,120 L0,120 Z" fill="%23F2F2F2"/%3E%3C/svg%3E')
            no-repeat left bottom;
          background-size: 100% 50px;

          @include min-screen(1024px) {
            background-size: 100% 120px;
          }
        }
      }
    }

    // &.ft-skin--cerca-seleccionador
    &.ft-skin--cerca-seleccionador {

      // .ft-org-hero-welcome
      .ft-org-hero-welcome {
        min-height: 15rem;

        @include min-screen(1024px) {
          min-height: 18rem;
        }

        p {
          @include margin(null 2rem null 2rem);
        }
      }

      // .ft-org-search-autocomplete
      .ft-org-search-autocomplete {
        max-height: none;
        min-height: fit-content;

        // &__content
        &__content {
          @include padding(0 null null null);
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          max-height: none;
          min-height: 25rem;

          @include min-screen(1024px) {
            min-height: 15rem;
          }

          // section
          section {
            @include min-screen(1024px) {
              @include margin(1rem null null null);
            }
          }
        }

        // ul:has(.ft-tag--chip)
        ul:has(.ft-tag--chip) {
          @include margin(null null 0 null);
        }
      }

      // .ft-cerca-localidades-list__tags
      .ft-cerca-localidades-list__tags {
        justify-content: center;
      }

      // .ft-org-suggestions-chips
      .ft-org-suggestions-chips {

        // &__content
        &__content {
          display: flex;
          flex-wrap: wrap;
          flex-flow: column;
          justify-content: center;
          align-content: center;
          min-height: 13rem;

          @include min-screen(1024px) {
            min-height: 18rem;
          }

          // p
          p {
            @include margin(0 null 0.5rem null);

            @include min-screen(1024px) {
              @include margin(null null 0.5rem null);
              flex-basis: 100%;
            }
          }
        }
      }

      // .ft-mol-form
      .ft-mol-form {
        @include margin(null auto null auto);
        max-width: 32rem;

        @include min-screen(1024px) {
          max-width: 50rem;
        }

        // &__label
        &__label {
          font-style: italic;
          font-size: 1.5rem;
        }
      }
    }
  }
}
