// ABSTRACTS
// ================================================
@import "../../abstracts/amp-abstracts";
@import "../../vendors/bourbon/bourbon";
// ================================================================================================


// ft-mol-boxInfo
// ===============================================
.ft-mol-boxInfo
{
    // generals
    @include border-style(solid);
    @include border-width(0.1rem);
    @include border-color(var(--color-mediumGrey));
    @include position (relative, null);
    @include margin (4rem null);
    @include padding (2rem);
    display: flex;
    flex-direction: column;

    //  .ft-text
    // ---------------------------------------------
    .ft-text
    {
        // generals
        @include font--body-L;

        // end //  &:flast-of-type
    }

    //  .ft-text:last-of-type
    // ---------------------------------------------
    .ft-text:last-of-type
    {
        // generals
        @include margin(0);
 
        // end //  &:flast-of-type
    }

    //  .ft-btn
    // ---------------------------------------------
    .ft-btn
    {
        // generals
        @include margin(1rem 0 0 0);

        // end //  &:flast-of-type
    }

    &:before
    {
        // generals
        content: "";
        @include border-style(solid);
        @include border-width(2px);
        @include border-color(var(--color-primary));
        @include margin(null null 1rem null);
        @include position(absolute, 0 null null 0);
        width: 15%;
        height: 0.2rem;
    }

    .ft-img
    {

        // generals
        @include padding (null 0 1.5rem null);
        display: flex;
        justify-content: center;

        .ft-helper-img-rd
        {
            // generals
            max-width: 110px;
        }

        // generals

    }

    // &__content
    // ---------------------------------------------
    &__content
    {
        // generals
        display: block;
        text-align: center;

        // behavior parent: ft-mol-boxInfo--erratum
        @include behavior-parent(ft-mol-boxInfo--erratum)
        {
            // generals
            text-align: left;
        }

        // behavior parent: ft-mol-boxInfo--richtext
        @include behavior-parent(ft-mol-boxInfo--richtext)
        {
            // generals
            text-align: left;

        }

        // behavior parent: ft-mol-boxInfo--between
        @include behavior-parent(ft-mol-boxInfo--between)
        {
            // generals
            width: 100%;
        }

        // behavior parent: ft-mol-boxInfo--ranking
        @include behavior-parent(ft-mol-boxInfo--ranking)
        {
            // generals
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        // END //  &__content

    }



    // &--Aligncenter
    // ---------------------------------------------
    &--Aligncenter
    {
        // generals
        flex-direction: column;
        align-items: center;
        text-align: center;

        // .ft-img
        .ft-img
        {

            @include padding (null 0 1.5rem null);

        }

        // END //  &--Aligncenter

    }



    // &--richtext
    // ---------------------------------------------
    &--richtext
    {
        // generals
        background-color: var(--color-lightGrey);
        flex-direction: row;
        align-items: flex-start;

        // .ft-text: first-of-type
        .ft-text:first-of-type
        {
            margin: 0;
        }

        // .ft-text: last-of-type
        .ft-text:last-of-type
        {
            margin: 0 0 1rem;
        }

        // .ft-img
        .ft-img
        {
            @include padding (null 2rem null null);
            min-width: 11rem;

            // END  // .ft-img
        }

        // END //  &--richtext
    }

    //  &--score
    // ---------------------------------------------
    &--score
    {
        // generals
        @include padding(2rem 0);
        @include margin(0);
        @include border-style(dotted none none none);
        @include border-width(0.1rem);
        @include border-color(var(--color-mediumGrey));
        @include position(relative, null null);
        display: block;
        width: 100%;

        &:before
        {
            // generals
            content: none;
        }

        // &__header
        // ---------------------------------------------
        &__header
        {
            // generals
            @include margin(1.5rem 0 0.5rem 0);
            @include font--heading-XXS;

            // END // // &__header
        }

        // &__subtitle
        // ---------------------------------------------
        &__subtitle
        {
            // generals
            @include font--body-L;
            @include margin(0 0 0.5rem 0);
            color: var(--color-primary);

            // end // // &__subtitle
        }


        // &__image
        // ---------------------------------------------
        &__image
        {
            // generals
            @include margin(0 1rem 2rem 0);
            float: left;
            width: 80px;
            height: 80px;
            border-radius: 50%;

            // end // &__image
        }

        // &__number
        // ---------------------------------------------
        &__number
        {
            // generals
            @include position(absolute, 7rem null null 0);
            @include font--heading-XXS;
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            background: var(--color-primary);
            color: var(--color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 3px solid var(--color-white);

            // end // // &__number
        }



        .ft-text
        {
            // generals
            color: var(--color-quaternary);
            float: inherit;
            margin-top: 0;
            width: 100%;
            display: block;
        }


        // END //  &--score
    }


    // &--ranking
    // ---------------------------------------------
    &--ranking
    {
        // generals
        @include padding(2rem 0 0 0);
        @include border-width(0);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;

        &:before
        {
            content: "";
            @include border-style(solid);
            @include border-width(2px);
            @include border-color(var(--color-mediumGrey));
            width: 15%;
        }

        // &Primary
        // ---------------------------------------------
        &Primary
        {
            &:before
            {
                content: "";
                @include border-color(var(--color-functional-success));
            }

            // END //  &Primary
        }

        // &Secondary
        // ---------------------------------------------
        &Secondary
        {
            &:before
            {
                content: "";
                @include border-color(var(--color-functional-info));
            }

            // END //   &Secondary
        }

        // &Tertiary
        // ---------------------------------------------
        &Tertiary
        {
            &:before
            {
                content: "";
                @include border-color(var(--color-functional-warning));
            }

            // END //   &Tertiary
        }

        //  &Quaternary
        // ---------------------------------------------
        &Quaternary
        {
            &:before
            {
                content: "";
                @include border-color(var(--color-functional-error));
            }

            // END //  &Quaternary
        }



        // &__header
        // ---------------------------------------------
        &__header
        {
            // generals
            display: flex;
            flex-direction: row;
            align-items: center;
            @include margin(1rem 0 0 0);
            &Has
            {

                // &title
                // ---------------------------------------------
                &title
                {
                    // generals
                    @include font--heading-XXS;

                    // end // &title
                }

                // &image
                // ---------------------------------------------
                &image
                {
                    // generals
                    @include margin(0 1rem 0 0);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;

                    // end // &image
                }
            }

            // END // // &__header

        }

        // ft-text:first-of-type
        // ---------------------------------------------
        .ft-text:first-of-type
        {
            margin-top: 1rem;
        }

        // --------------------------------------------- 


        // ---------------------------------------------

        // END // ft-mol-ranking
    }


    // &--erratum
    // ---------------------------------------------
    &--erratum
    {
        // generals
        @include border-style(solid none none none);
        background-color: var(--color-lightGrey);

        &:before
        {
            // generals
            content: none;
        }

        // END // &--erratum

    }


    // &--between
    // ---------------------------------------------
    &--between
    {
        // generals
        @include border-style(none);
        background-color: var(--color-subscription-septenary);
        color: var(--color-black);

        &:before
        {
            // generals
            content: none;
        }

        // &__head
        &__head
        {
            // generals
            @include position(relative, null);
            @include margin(0);
            @include border-style(null null solid null);
            @include border-width(0 0 0.2rem 0);
            @include border-color(transparent transparent var(--color-black) transparent);
            @include padding(null null 0.5rem null);
            @include font--body-M;
            width: 100%;

            &:after
            {
                content: " ";
                @include position(absolute, null null -1.2rem 4.5rem);
                @include border-style(solid);
                @include border-width(1rem 2rem 0 0);
                @include border-color(var(--color-black) transparent transparent)
            }

            // END // &__head
        }

        //  &__title
        &__title
        {
            // generals
            @include margin(2rem 0 0 0);
            @include font--body-XL;
            @include fontBold;
            // END // &__title
        }

        // .ft-text
        .ft-text
        {
            @include font--body-M;
        }

        // END // .ft-text

        // .ft-text:last-of-type
        .ft-text:last-of-type
        {
            @include margin(0 0 1rem 0) // END // .ft-text:last-of-type
        }

        // END //  &--between

    }

    // ===============================================

    // ---------------------------------------------

    // END // ft-mol-boxInfo
}

// ===============================================