// ABSTRACTS
// ================================================
@import "../../abstracts/amp-abstracts";
@import "../../vendors/bourbon/bourbon";
// ================================================================================================

// FOURTY-MOL: BTNGROUP
// ===============================================
.ft-mol-btnGroup
{
  // generals
  // ---------------------------------------------
  @include position(relative, null null null null);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // ---------------------------------------------

  // .ft
  // ---------------------------------------------
  .ft
  {

    // &-btn
    &-btn
    { 
      // generals
      @include margin(1rem 1rem null null);

      // &:last-child
      &:last-child
      {
        @include margin(null 0 null null);
      }

      // end // &-btn
    }

    // end // .FT
  }

  // ---------------------------------------------

  // &--lft
  // ---------------------------------------------
  &--lft
  {
    justify-content: flex-start;
  }

  // ---------------------------------------------

  // ---------------------------------------------

  // &--cnt
  // ---------------------------------------------
  &--cnt
  {
    justify-content: center;
  }

  // ---------------------------------------------

  // FOURTY-MOLECULE: BTNGROUP
}

// ===============================================