// ABSTRACTS
// ================================================
@import "../../../abstracts/abstracts.scss";
@import "../../../vendors/bourbon/bourbon";
// ================================================
// JWPLayer - estilos
// ===============================================

@keyframes ds-jwplayer
{
    0%
    {
        opacity: 0;
        transform: translateY(-250px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@if $brand ==ep
{
    .jw-float-bar
    {
        background: none !important;
    }

    .jw-controlbar.jw-reset
    {
        z-index: 3;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-float-bar
    {
        top: 0 !important;
    }

    .jw-flag-floating .jw-wrapper.jw-float-to-top
    {
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        top: auto !important;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-wrapper
    {
        bottom: 185px !important;
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        z-index: 2400 !important;
    }
    .jw-flag-floating.jw-floating-dismissible .jw-float-bar{
        width: auto;
        right: auto;
        left: 0;
    }
}

@if $brand ==epe
{
    .jw-float-bar
    {
        background: none !important;
    }

    .jw-controlbar.jw-reset
    {
        z-index: 3;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-float-bar
    {
        top: 0 !important;
    }

    .jw-flag-floating .jw-wrapper.jw-float-to-top
    {
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        top: auto !important;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-wrapper
    {
        bottom: 185px !important;
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        z-index: 2400 !important;
    }
    .jw-flag-floating.jw-floating-dismissible .jw-float-bar{
        width: auto;
        right: auto;
        left: 0;
    }
}

@if $brand ==sport
{
    .jw-float-bar
    {
        background: none !important;
    }

    .jw-controlbar.jw-reset
    {
        z-index: 3;
    }


    .jw-flag-floating.jw-floating-dismissible .jw-float-bar
    {
        top: 0 !important;
    }

    .jw-flag-floating .jw-wrapper.jw-float-to-top
    {
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        top: auto !important;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-wrapper
    {
        bottom: 185px !important;
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        z-index: 2400 !important;
    }
    .jw-flag-floating.jw-floating-dismissible .jw-float-bar{
        width: auto;
        right: auto;
        left: 0;
    }
}

@if $brand ==regionales
{
    .jw-float-bar
    {
        background: none !important;
    }

    .jw-controlbar.jw-reset
    {
        z-index: 3;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-float-bar
    {
        top: 0 !important;
    }

    .jw-flag-floating .jw-wrapper.jw-float-to-top
    {
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        top: auto !important;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-wrapper
    {
        bottom: 185px !important;
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        z-index: 2400 !important;
    }
    .jw-flag-floating.jw-floating-dismissible .jw-float-bar{
        width: auto;
        right: auto;
        left: 0;
    }
}

@if $brand ==revistas
{
    .jw-float-bar
    {
        background: none !important;
    }

    .jw-controlbar.jw-reset
    {
        z-index: 3;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-float-bar
    {
        top: 0 !important;
    }

    .jw-flag-floating .jw-wrapper.jw-float-to-top
    {
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        top: auto !important;
    }

    .jw-flag-floating.jw-floating-dismissible .jw-wrapper
    {
        bottom: 185px !important;
        animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
        z-index: 2400 !important;
    }
    .jw-flag-floating.jw-floating-dismissible .jw-float-bar{
        width: auto;
        right: auto;
        left: 0;
    }
}


@keyframes closeJWPlayer
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

.jw-flag-floating .jw-float-bar-icon
{
    animation: closeJWPlayer 10s ease-in 0.3s 1 normal forwards;
}


@media only screen and (min-width: 768px) and (max-width: 980px)
{
    @if $brand ==ep
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            max-width: calc(41.66666667% - 1.8rem) !important;
        }
    }
    @if $brand ==epe
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            max-width: calc(41.66666667% - 1.8rem) !important;
        }
    }
    @if $brand ==sport
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            max-width: calc(41.66666667% - 1.8rem) !important;
        }
    }
    @if $brand ==regionales
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            max-width: calc(41.66666667% - 1.8rem) !important;
        }
    }
    @if $brand ==revistas
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            max-width: calc(41.66666667% - 1.8rem) !important;
        }
    }
}

@media only screen and (min-width:981px)
{

    @if $brand ==ep
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
        right: 0;
        left: 0;
        transform: translate(100%) !important;
        max-width: 325px !important;
        }
        .premium .jw-flag-floating.jw-floating-dismissible .jw-wrapper, .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            right: -140px;
        }
    }
    @if $brand ==epe
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
        right: 0;
        left: 0;
        transform: translate(100%) !important;
        max-width: 325px !important;
        }
        .premium .jw-flag-floating.jw-floating-dismissible .jw-wrapper, .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            right: -140px;
        }
    }
    @if $brand ==sport
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
        right: 0;
        left: 0;
        transform: translate(100%) !important;
        max-width: 325px !important;
        }
        .premium .jw-flag-floating.jw-floating-dismissible .jw-wrapper, .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            right: -140px;
        }
    }
    @if $brand ==regionales
    {
       .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
        right: 0;
        left: 0;
        transform: translate(100%) !important;
        max-width: 325px !important;
        }
        .premium .jw-flag-floating.jw-floating-dismissible .jw-wrapper, .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            right: -140px;
        }
    }
    @if $brand ==revistas
    {
       .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
        right: 0;
        left: 0;
        transform: translate(100%) !important;
        max-width: 325px !important;
        }
        .premium .jw-flag-floating.jw-floating-dismissible .jw-wrapper, .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            right: -140px;
        }
    }

}

@media only screen and (min-width:981px)
{
    @if $brand ==ep
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }
    @if $brand ==epe
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }
    @if $brand ==sport
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }
    @if $brand ==regionales
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }
    @if $brand ==revistas
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }

}

@media only screen and (min-width:981px)
{
    @if $brand ==ep{
    .jw-flag-floating.jw-floating-dismissible .jw-wrapper{left: 18px;}
    }
    @if $brand ==epe
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }
    @if $brand ==sport
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }
    @if $brand ==regionales
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }
    @if $brand ==revistas
    {
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper
        {
            left: 18px;
        }
    }

}

@media screen and (max-width: 480px)
{
    @if $brand ==ep
    {
        .jw-flag-floating .jw-wrapper.jw-float-to-top
        {
            max-width: 100% !important;
            max-height: 125px;
            animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
            top: 0px !important;
        }
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            bottom: 0 !important;
            max-width: 100% !important;
            max-height: 125px !important;
            top: 0px !important;
        }
        /* .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            max-height: 33vh !important;
        } */
    }

    @if $brand ==epe
    {
        .jw-flag-floating .jw-wrapper.jw-float-to-top
        {
            max-width: 100% !important;
            max-height: 125px;
            animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
            top: 0px !important;
        }
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            bottom: 0 !important;
            max-width: 100% !important;
            max-height: 125px !important;
            top: 0px !important;
        }
        /* .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            max-height: 33vh !important;
        } */
    }
    @if $brand ==sport
    {
        .jw-flag-floating .jw-wrapper.jw-float-to-top
        {
            max-width: 100% !important;
            max-height: 125px;
            animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
            top: 0px !important;
        }
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            bottom: 0 !important;
            max-width: 100% !important;
            max-height: 125px !important;
            top: 0px !important;
        }
        /* .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            max-height: 33vh !important;
        } */
    }
    @if $brand ==regionales
    {
        .jw-flag-floating .jw-wrapper.jw-float-to-top
        {
            max-width: 100% !important;
            max-height: 125px;
            animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
            top: 0px !important;
        }
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            bottom: 0 !important;
            max-width: 100% !important;
            max-height: 125px !important;
            top: 0px !important;
        }
        /* .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            max-height: 33vh !important;
        } */

    }

    @if $brand ==revistas
    {
        .jw-flag-floating .jw-wrapper.jw-float-to-top
        {
            max-width: 100% !important;
            max-height: 125px;
            animation: ds-jwplayer 2s ease-in 0s 1 normal backwards;
            top: 0px !important;
        }
        .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            bottom: 0 !important;
            max-width: 100% !important;
            max-height: 125px !important;
            top: 0px !important;
        }
        /* .videos .jw-flag-floating.jw-floating-dismissible .jw-wrapper{
            max-height: 33vh !important;
        } */
    }    


    .jw-flag-touch .jw-slider-horizontal.jw-chapter-slider-time .jw-slider-container::before
    {
        height: 29px !important;
        bottom: calc(100% - 18px) !important;
    }

    .jw-controlbar
    {
        max-height: 45px !important;
    }

    .jw-slider-horizontal.jw-chapter-slider-time
    {
        height: 5px !important;
    }


    .jw-plugin-googima .jw-ads-view video
    {
        left: 50% !important; 
        top: 50% !important;
        right: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: auto !important;
    }
}


// ===============================================